<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1280"/>
        <link rel="stylesheet" href="./css/recruit.css">
    </head>
    <body>
        <div id="page">
            <header class="recruit-header-bg">
                <h1>공정채용관</h1>
                <div class="video-container"></div>
            </header>
            <section class="recruit-section-1">
                <h2>채용단계별 공정성 확보 방안</h2>
                <p class="section-header-tagline">각 아이콘을 클릭해 단계별 세부사항을 확인해보세요!</p>

                <div class="section-detail">
                    <div class="section-items-bar"></div>
                    <div class="section-items">
                        <img src="./img/recruit-section-1-items-1.png" @click="setSection1Item(1)">
                        <img src="./img/recruit-section-1-items-2.png" style="margin-right: 4px" @click="setSection1Item(2)">
                        <img src="./img/recruit-section-1-items-3.png" style="margin-right: 11px" @click="setSection1Item(3)">
                        <img src="./img/recruit-section-1-items-4.png" style="margin-right: 37px" @click="setSection1Item(4)">
                        <img src="./img/recruit-section-1-items-5.png" @click="setSection1Item(5)">
                    </div>
                    <img class="section-item-detail" :src="section1ItemUrl">
                </div>
            </section>
            <section class="recruit-section-2">
                <div class="recruit-section-list-wrap">
                    <img class="recruit-section-list-desc" src="./img/recruit-section-2-list.png">
                    <div class="recruit-section-list">
                        <img src="./img/recruit-section-2-items-gender.png" @click="setSection2Item(1)">
                        <img src="./img/recruit-section-2-items-region.png" @click="setSection2Item(2)" style="margin-bottom: 12px;">
                        <img src="./img/recruit-section-2-items-age.png" @click="setSection2Item(3)">
                        <img src="./img/recruit-section-2-items-physical.png" @click="setSection2Item(4)" style="margin-bottom: 10px;">
                        <img src="./img/recruit-section-2-items-school.png" @click="setSection2Item(5)" style="margin-bottom: 10px;">
                        <img src="./img/recruit-section-2-items-family.png" @click="setSection2Item(6)" style="margin-bottom: 10px;">
                        <img src="./img/recruit-section-2-items-pregnant.png" @click="setSection2Item(7)" style="margin-bottom: 10px;">
                    </div>
                    <img class="section-item-detail" :src="section2ItemUrl">
                    <h2>
                        <img src="./img/recruit-section-2-title.png">
                    </h2>
                    <div class="video-container"></div>
                </div>
            </section>
            <section class="recruit-section-3">
                <h2>
                    <img src="./img/recruit-section-3-title.png">
                </h2>
                <div class="section-tabs">
                    <div class="tabs-tab" :class="{active: section3TabIndex === 0}" @click="section3TabIndex = 0">시험문제 출제</div>
                    <div class="tabs-tab" :class="{active: section3TabIndex === 1}" @click="section3TabIndex = 1">시험문제 선정</div>
                    <div class="tabs-tab" :class="{active: section3TabIndex === 2}" @click="section3TabIndex = 2">시험문제 유출 방지</div>
                    <div class="tabs-tab" :class="{active: section3TabIndex === 3}" @click="section3TabIndex = 3">필기 시험 실시</div>
                    <div class="tabs-tab" :class="{active: section3TabIndex === 4}" @click="section3TabIndex = 4">답안지 채점</div>
                </div>
                <div class="section-tab-content" v-if="section3TabIndex === 0">
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 0">
                            Q. 시험문제 출제위원은 공정하게 선정되는 건가요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 0}">
                            <img src="./img/recruit-section-3-item-1.jpg">
                            <p>A. 최근 3년 간 학원강의 또는 학교 고시반을 담당하거나 수험서 발간경력이 있는 자는 시험위원에서 배제하고, 위촉된 시험위원은 교육 및 보안서약서를 징구하는 등 위촉된 사실에 대해 반드시 비밀을 유지하도록 하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="section-tab-content" v-if="section3TabIndex === 1">
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 1">
                            Q. 특정위원이 출제한 문제가 시험문제로 많이 선정되는 것은 아닌가요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 1}">
                            <p>A. 문제은행에 문제를 입고하는 ‘출제위원’과 최종적으로 문제를 선정하는 ‘선정위원’을 구분하여 특정위원이 출제한 문제가 최종 시험문제에 다수 포함되는 상황을 사전에 방지하고 있습니다. 또한 선정위원 본인이 문제은행에 입고한 문제는 당해 시험에 실제 사용할 문제로 선정할 수 없으며, 같은 과목 내에서 동일대학 출제위원의 문제가 일정 수를 넘어 선정되지 않도록 제한하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="section-tab-content" v-if="section3TabIndex === 2">
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 2">
                            Q. 출제 과정에서 시험문제가 외부인에 의해 유출될 가능성은 없나요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 2}">
                            <img src="./img/recruit-section-3-item-2.jpg">
                            <p>A. 문제선정 및 검토 등 모든 출제과정은 외부와의 접촉이 철저히 차단된 보안시설에서 이루어지고 있습니다. 해당 시설은 경비인력에 의한 외부인 출입통제, CCTV 설치 등을 통해 엄격히 보안이 관리되고 있으며, 출제위원 및 관련 직원들은 통신장비를 보안시설 입소시에 제출하고 시험 전까지 시설 내에서 합숙을 하고 있습니다. 보안시설 내에서도 시험관련 자료는 심사실 이외의 장소(숙소 등)로의 무단 반출을 철저히 금지하고, 출제 기간 동안에는 어떠한 물건도 출제 보안시설 안에서 밖으로 나갈 수 없도록 철저하게 관리하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 3">
                            Q. 시험문제 인쇄 과정에서의 시험문제 유출 가능성은 없나요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 3}">
                            <img src="./img/recruit-section-3-item-3-1.jpg">
                            <p>A. 시험문제 인쇄시 외부와의 접촉이 철저히 차단된 보안시설이 갖추어진 인쇄업체를 선정하고, 내외부 CCTV 점검 및 출입문·창문 봉인, 인쇄 종사자 통신장비 수거 등 보안관련 사항을 철저히 점검하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 4">
                            Q. 인쇄된 문제는 시험장소(학교 등)로 안전하게 전달되는 건가요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 4}">
                            <img src="./img/recruit-section-3-item-3-2.jpg">
                            <p>A. 문제지는 인쇄 후부터 해당 시험실로 들어가기 직전까지 봉인되어 관리되며, 인사혁신처 담당 공무원 등의 감독 하에 보안경비업체의 전문 경비인력이 보안차량을 이용하여 안전하게 시험장소로 문제지를 전달하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="section-tab-content" v-if="section3TabIndex === 3">
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 5">
                            Q. 특정 수험생에게 유리하게 시험장이 배정될 가능성은 없나요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 5}">
                            <img src="./img/recruit-section-3-item-4.jpg">
                            <p>A. 응시번호를 무작위로 부여하여 응시번호를 통해 나이·성별 등을 식별할 수 없도록 하고, 응시번호에 따라 시험장(학교 등) 및 시험실을 배정하여 부정행위를 방지하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 6">
                            Q. 시험장에서 시험시간 이전에 수험생에게 시험문제가 유출될 가능성은 없나요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 6}">
                            <p>A. 시험문제는 감독관에 의해 시험시작 약 5분전에 각 시험실로 전달되며, 시험문제가 시험실로 들어가게 된 이후에는 수험생의 출입을 통제하여 시험문제가 사전에 유출될 가능성을 차단하고 있습니다. 또한 시험시작 전에는 문제지를 열람하는 행위를 금지하여 모든 수험생이 동일한 시간 동안 문제를 풀 수 있도록 관리하고 있습니다.</p>
                        </div>
                    </div>
                </div>
                <div class="section-tab-content" v-if="section3TabIndex === 4">
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 7">
                            Q. 제출한 답안지는 안전하게 채점하는 곳으로 전달되는 건가요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 7}">
                            <img src="./img/recruit-section-3-item-5.jpg">
                            <p>A. 답안지가 분실, 누락되지 않도록 각 시험장별로 8회 이상에 걸쳐 매수를 확인하고 있습니다. 또한 시험문제가 시험장소에 전달될 때와 같이, 보안경비업체의 전문 경비인력, 인사혁신처 담당 직원 등이 보안차량을 이용하여 답안지를 안전하게 보안시설로 전달하고 있습니다.</p>
                        </div>
                    </div>
                    <div class="tab-content-item">
                        <div class="item-title" @click="section3TabContent = 8">
                            Q. 채점 과정에서 외부인 침입에 의하여 답안지가 변경·훼손될 우려는 없는 건가요?
                            <div class="item-title-plus">+</div>
                        </div>
                        <div class="item-content" :class="{active: section3TabContent === 8}">
                            <p>A. 경비인력에 의한 외부인 출입통제, CCTV 설치 등 외부인이 침입할 수 없도록 안전하게 관리되는 보안시설에서 답안지가 보관되며 채점 작업이 이루어집니다. </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="recruit-section-4">
                <h2>
                    <img src="./img/recruit-section-4-title.png">
                </h2>
                <div class="section-tabs">
                    <button :class="{active: section4TabIndex === 0}" @click="section4TabIndex = 0">1차시</button>
                    <button :class="{active: section4TabIndex === 1}" @click="section4TabIndex = 1">2차시</button>
                    <button :class="{active: section4TabIndex === 2}" @click="section4TabIndex = 2">3차시</button>
                    <button :class="{active: section4TabIndex === 3}" @click="section4TabIndex = 3">4차시</button>
                    <button :class="{active: section4TabIndex === 4}" @click="section4TabIndex = 4">5차시</button>
                    <button :class="{active: section4TabIndex === 5}" @click="section4TabIndex = 5">6차시</button>
                </div>
                <div class="section-content">
                    <div class="video-container"></div>
                </div>
            </section>
            <section class="recruit-section-5">
                <img src="./img/recruit-section-5-content.png">
                <br>
                <a class="goto-quiz" href="https://forms.gle/18zhUAVZFvfuij7Q9" target="_blank">
                    <img src="./img/recruit-section-5-btn.png">
                </a>
                <div style="margin-top: 20px;">
                    <img src="./img/recruit-section-5-discriminator.png">
                </div>
            </section>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
        <script>
            var page = new Vue({
                el: '#page',
                data: {
                    section1ItemUrl: './img/recruit-section-1-item-detail-1.png',
                    section2ItemUrl: './img/recruit-section-2-item-detail-1.png',
                    section3TabIndex: 0,
                    section3TabContent: null,
                    section4TabIndex: 0,
                },
                methods: {
                    setSection1Item: function (num) {
                        this.section1ItemUrl = './img/recruit-section-1-item-detail-' + num + '.png';
                    },
                    setSection2Item: function (num) {
                        this.section2ItemUrl = './img/recruit-section-2-item-detail-' + num + '.png';
                    }
                }
            });
        </script>
    </body>
</html>