@media screen and (max-width:1500px) {
    .section {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #header .inner {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #header .top .inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    #header .bottom ul {
        right: 20px;
    }

    #header .bottom ul li + li {
        margin-left: 20px;
    }
    #footer .inner {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

@media screen and (max-width:1180px) {
    
    #header .top {
        display: none;
    }
    #header .bottom .logo {
        height: 70px;
        width: 202px;
        background-size: 202px auto;
    }
    #header .bottom ul {
        width: 100%;
        max-width: 280px;
        height: 100%;
        background-color: #fff;
        top: 0;
        right: -280px;
        z-index: 5;
        position: fixed;
        padding: 50px 0;
    }

    #header .bottom ul li{
        display: block;
    }

    #header .bottom ul li a {
        padding: 0 30px;
    }
    #header .bottom ul li + li {
        margin: 0;
        margin-top: 18px;
    }
    .content {
        padding-top: 70px;
    }
    .button_tab ul {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:1023px) {
    body {
        padding-bottom: 263px;
    }
    .pc {
        display: none;
    }
    .mobile{
        display: block !important;
    }
    .t_p_300 {
        margin-top: 50px!important;
    }
    .s_r_size {
        width: 80% !important;
        display: block !important;
        margin: 0 auto !important;
    }
    .m_t_p_30 {
        margin-top: 30px;
    }
    .m_n_p {
        padding: 0 !important;
        background-color: transparent !important;
    }
    .m_n_p + .m_n_p {
        margin-top: 40px !important;
    }
    .m_n_r {
        border-radius: 0 !important;
    }
    #footer .inner {
        padding: 30px 20px;
    }
    #footer .top ul li {
        width: 25px;
        height: 25px;
        padding-top: 7.5px;
    }
    #footer .top ul li a {
        background-size: 100%;
    }
    #footer ul li a {
        line-height: 20px;
    }
    .section {
        padding: 50px 20px;
    }
    .section.history01 {
        /* background-image: url(../img/mobile/history/2-bg01.png); */
    }
    .section.history02 {
        background-image: url(../img/mobile/history/2-bg01.png);
    }
    .section h2 {
        font-size: 36px;
        line-height: 44px;
    }
    .section h2 span {
        font-size: 36px;
    }
    .section h2.m_small {
        font-size: 16px;
        line-height: 24px;
    }
    .section h2.m_small span {
        font-size: 16px;
    }
    .section h2.m_mid {
        font-size: 20px;
        line-height: 28px;
    }
    .section h2.m_mid span {
        font-size: 20px;
    }
    .section .sub {
        margin-top: 0;
    }
    .cont_wrap {
        margin-top: 15px;
    }
    .cont_wrap img {
        width: 100%;
    }
    .section .sub {
        display: none;
    }
    .tab_cont {
        padding: 0;
    }
    .tab_cont > div {
        background-color: transparent;
    }
    .tab_cont > div > div {
        display: block;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-sizing: border-box;
        overflow: visible;
    }
    .tab_cont > div > div h3 {
        width: 280px;
        height: 60px;
        background-color: #C11E2F;
        border-radius: 60px;
        line-height: 60px;
        font-size: 30px;
        color: #fff;
        border: 1px solid #fff;
        font-family: "GmarketSansMedium";
        margin: 0 auto;
        margin-top: -55px;
        margin-bottom: 30px;
    }
    .tab_cont > div > div h3.yellow {
        background-color: #FFE382;
        color: #000;
    }
    .tab_cont > div > div h3.m_small {
        font-size: 16px;
    }
    .video_clip {
        margin-top: 30px;
    }
    .button_tab .tab_cont {
        background-color: transparent;
        padding-top: 30px;
    }
    .cont_wrap .frame {
        padding: 30px 20px;
    }
    .tab_cont > div > div + div {
        margin-top: 100px;
    }
    .button_tab ul {
        display: none;
    }
    .slide_nav button {
        display: none;
    }
    .box_slider_wrap .nav button {
        display: none;
    }
    .box_slider_wrap li {
        padding: 30px 20px;
    }
    .box_slider_wrap li > div {
        width: 100%;
        height: 200px;
    }
    .box_slider_wrap li > div:last-child {
        height: auto;
        padding: 0;
        padding-top: 20px;
    }
    .box_slider_wrap li > div h3 {
        font-size: 16px;
    }
    .box_slider_wrap li > div p {
        font-size: 16px;
        line-height: 24px;
    }
    .box_slider_wrap {
        margin-top: 30px;
    }
    .horz_wrap {
        padding: 20px;
    }
    .cont_wrap .quiz .btn_quiz {
        width: 200px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
    }
    .cont_wrap .quiz {
        margin-top: 30px;
    }
    .clip_tab {
        margin-bottom: 20px;
    }
    .clip_tab ul li {
        width: 49%;
        height: 60px;
        padding: 1px 1px 6px 1px;
    }

    .clip_tab ul li + li {
        margin-left: 2%;
    }
    .clip_tab ul li:nth-child(3) {
        margin-left: 0;
    }
    .clip_tab ul li:nth-child(n+3) {
        margin-top: 10px;
    }
    .clip_tab ul li.selected {
        height: 60px;
    }
    .clip_tab ul li button {
        font-size: 14px;
        line-height: 22px;
    }
    .qna_wrap span {
        display: none;
    }
    .qna_wrap {
        background-color: #E2D0FF;
        border-radius: 20px;
        margin-top: 80px;
    }
    .qna_wrap h3 {
        width: 100%;
        background-color: #7C48BE;
        color: #fff;
        font-size: 16px;
        padding: 14px 0;
        border-radius: 20px;
        letter-spacing: 0;
        margin-top: 0px;
    }
    .qna_wrap ul {
        white-space: nowrap;
        overflow-x: auto;
        padding: 10px;
        margin-top: 0;
    }

    .qna_wrap ul li {
        width: 70%;
        display: inline-block;
        vertical-align: top;
        border-bottom: 0;
        white-space: normal;
        background-color: #fff;
        border-radius: 20px;
    }
    .qna_wrap ul li + li {
        margin-left: 10px;
    }
    .qna_wrap ul li em, .qna_wrap ul li a {
        font-size: 13px;
        line-height: 23px;
        padding: 0;
    }
    .qna_wrap ul li p {
        font-size: 13px;
        line-height: 23px;
        display: block;
    }
    .qna_wrap ul li::after {
        content: normal;
    }
    .sec1_cont img {
        width: 100%;
    }
    .box_tab ul {
        display: none;
    }
    .box_tab.yellow .tab_cont {
        background-color: transparent;
    }
    .m_tit {
        display: block;
        padding: 15px 0px;
        width: 280px;
        border-radius: 20px;
        margin:  0 auto;
        font-size: 16px;
        line-height: 20px;
        font-family: "GmarketSansMedium";
        margin-bottom: 10px;
    }
    .m_tit.yellow {
        background-color: #FFE382;
    }
    .relative_box {
        display: none;
    }
}