@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,body,div,ul,li,p,h3,h1,h2,h4,h5{padding:0;margin:0;line-height:1}
ul,li{list-style:none}
a{text-decoration:none;color:#333}
textarea,input{font-family:'Noto Sans KR',sans-serif;}
optgroup,select,button{cursor:pointer}
input::-webkit-input-placeholder{color:#ccc;font-weight:400}
textarea::-webkit-input-placeholder{color:#ccc;font-weight:400}
input::-ms-input-placeholder{color:#ccc;font-weight:400}
textarea::-ms-input-placeholder{color:#ccc;font-weight:400}
input::-moz-placeholder{color:#ccc;font-weight:400}
textarea::-moz-placeholder{color:#ccc;font-weight:400}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
select::-ms-expand{display:none}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none}
img{vertical-align:top}
body{width:100%;min-height:100vh;position:relative;box-sizing:border-box;padding-bottom: 233px;}
caption{display:none}
*{margin:0;padding:0;text-decoration:none;-webkit-text-size-adjust:none;outline:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;font-family: 'Noto Sans KR', sans-serif;font-weight:400;line-height:1em;font-size:13px;color:#333;-webkit-font-smoothing:antialiased}
i {line-height: inherit;font-style: normal}

@-webkit-keyframes showUp {
0% {opacity: 0;transform: translateY(10px)}
100% {opacity: 1;transform: translateY(0)}
}

@keyframes showUp {
0% {opacity: 0;transform: translateY(10px)}
100% {opacity: 1;transform: translateY(0)}
}

.blind {
    display: none;
}

.sep {
    display: block;
    width: 320px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 60px;
}

.pc {
    display: block;
}

.mobile {
    display: none;
}

.t_p_200 {
    margin-top: 200px;
}

.t_p_100 {
    margin-top: 100px;
}

.b_p_100 {
    margin-bottom: 100px !important;
}

.t_p_300 {
    margin-top: 300px !important;
}
.m_tit {
    display: none;
}
.dots {
    margin: 20px 0;
}
.self_100 {
    width: 100%;
}
.both_p{
    margin: 100px 0;
}
/* 헤더 */

#header {
    width: 100%;
    min-width: 1360px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -webkit-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -moz-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -o-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out
}

#header.fixed {
    top: -71px;
}

#header .inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
}

#header .top {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 40px;
    box-sizing: border-box;
}

#header .top .inner {
    text-align: right;
    padding: 15px 0;
}

#header .top .inner a {
    vertical-align: top;
}

#header .top .btn_login {
    padding: 0 30px;
    line-height: 40px;
    background-color: #0E0C34;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 14px;
}

#header .top .upper {
    display: inline-block;
    width: 122px;
    height: 40px;
    background-image: url(../img/assets/logo-upper.png);
    background-size: 122px auto;
    background-position: center;
    background-repeat: no-repeat;
}

#header .bottom {
    border-bottom: 1px solid #d8d8d8;
    padding: 0 40px;
    box-sizing: border-box;
}

#header .bottom .logo {
    display: block;
    width: 407px;
    height: 100px;
    background-image: url(../img/assets/logo.png);
    background-repeat: no-repeat;
    background-size: 407px auto;
    background-position: center;
}

#header .bottom ul {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 0;
}

#header .bottom ul li {
    display: inline-block;
}

#header .bottom ul li + li {
    margin-left: 50px;
}

#header .bottom ul li a {
    font-size: 20px;
    line-height: 60px;
    display: block;
    position: relative;
    font-weight: bold;
    color:#666;
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

#header .bottom ul li:hover a {
    color: #0E0C34;
}

#header .bottom ul li a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background-color: #0E0C34;
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

#header .bottom ul li:hover a::after {
    width: 100%;
}

/* 푸터 */
#footer {
    width: 100%;
    min-width: 1360px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0E0C34;
}

#footer .inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}

#footer .inner a, #footer .inner p {
    color: #fff;
}

#footer ul {
    font-size: 0;
}

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    font-size: 12px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 12px;
}

#footer .top {
    margin-bottom: 20px;
}

#footer .top .footer_logo {
    display: inline-block;
    width: 121px;
    height: 40px;
    background-image: url(../img/assets/footer_logo.png);
    background-size: 121px auto;
    background-position: center;
    background-repeat: no-repeat;
}

#footer .top ul {
    font-size: 0;
    float: right;
}

#footer .top ul li {
    width: 40px;
    height: 40px;
}
#footer .top ul li + li {
    margin-left: 10px;
}

#footer .top ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    background-size: 40px auto;
    background-repeat: no-repeat;
}

#footer .top ul li:nth-child(1) a {
    background-image: url(../img/assets/ico-fb.png);
}
#footer .top ul li:nth-child(2) a {
    background-image: url(../img/assets/ico-tw.png);
}
#footer .top ul li:nth-child(3) a {
    background-image: url(../img/assets/icon-ig.png);
}
#footer .top ul li:nth-child(4) a {
    background-image: url(../img/assets/ico-yt.png);
}


#footer .bottom ul {
    margin-bottom: 14px;
}

#footer .bottom ul li::after {
    content: "|";
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    color: #fff;
    font-weight: 100;
    line-height: 12px;
}

#footer .bottom ul li:last-child::after {
    content: none;
}

#footer .bottom p {
    line-height: 22px;
    color: #999;
}

/* 컨텐츠 */
.content {
    padding-top: 172px;
    min-width: 1360px;
}

.recruit_wrap {
    width: 100%;
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    overflow-x: hidden;
    position: relative;
}

.section.n_p {
    padding: 0;
}

.section h2 {
    font-family: "GmarketSansLight";
    font-size: 55px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    word-break: keep-all;
}

.section h2 span {
    font-family: "GmarketSansMedium";
    font-size: 55px;
    text-align: center;
    color: #fff;
}

.section h2.dark {
    color: #000;
}

.section h2.dark span {
    color: #000;
}

.section h2.red {
    color: #c01f2f;
}

.section h2.red span {
    color: #c01f2f;
}

.section h2.mint {
    color: #00A5B9;
}

.section h2.mint span {
    color: #00A5B9;
}

.section h2.purple {
    color: #8167C7;
}

.section h2.purple span {
    color: #8167C7;
}

.section h2.green {
    color: #008ba6;
}

.section h2.green span {
    color: #008ba6;
}

.innovation_wrap h2 {
    margin-top: 50px;
}

.section h2.bg {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 50px 20px 0;
}

.tit_ubar {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 1px;
    
    margin-top: 30px;
    margin-bottom: 100px;
}

.tit_ubar.mint {
    background-color: #00A5B9;
}

.tit_ubar.purple {
    background-color: #8167C7;
}

.section .sub {
    color: #fff;
    font-family: "GmarketSansMedium";
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.section .sub.dark {
    color: #666;
}

.section.history01 {
    background-image: url(../img/history/1-bg02.png);
    background-color: #F7F7F7;
}

.section.history02 {
    background-image: url(../img/history/2-bg03.png);
}

.video_clip {
    margin: 0 auto;
}

.tab_cont .video_clip {
    margin-top: 0 !important;
}

.video_clip.large {
    width: 100%;
    max-width: 1280px;
    margin-top: 50px;
}

.video_clip.small {
    width: 100%;
    max-width: 950px;
    margin-top: 50px;
}

.video_clip .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
}

.sec1_cont {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0 0;

}

.sec1_cont img {
    margin-left: auto;
}

.sec1_cont img + img {
    margin-top: 40px;
}

.cont_wrap {
    width: 100%;
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.cont_wrap img {
    max-width: 100%;
    margin: 0 auto;
}

.cont_wrap .quiz {
    margin-top: 100px;
}

.cont_wrap .quiz .btn_quiz {
    display: inline-block;
    width: 535px;
    height: 148px;
    margin: 0 auto 66px;
    border-radius: 119px;
    line-height: 148px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-family: "GmarketSansMedium";
    font-size: 47px;
    color: #fff;
    font-weight: 500;
    border: none;
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

.cont_wrap .quiz .btn_quiz:hover {
    background-color: #4ca076;
}

.cont_wrap .quiz.green .btn_quiz {
    background: #50b180;
}

.cont_wrap .quiz.gray .btn_quiz {
    background: #e7e7e7;
    color: #459EBF;
}

.cont_wrap .quiz.green .btn_quiz:hover {
    background-color: #4ca076;
}

.cont_wrap .quiz.gray .btn_quiz:hover {
    background-color: #fff;
}

.cont_wrap .quiz.red .btn_quiz {
    background: #be1d2d;
}

.cont_wrap .quiz.red .btn_quiz:hover {
    background-color: #b30c1c;
}

.cont_wrap .quiz.purple .btn_quiz {
    background: #fff;
    color: #7C48BE;
}

.cont_wrap .quiz.purple .btn_quiz:hover {
    background-color: #fff;
}

.cont_wrap .quiz.yellow .btn_quiz {
    background-color: #FFAF46;
    color: #fff;
}

.cont_wrap .quiz.yellow .btn_quiz:hover {
    background-color: #ffa125;
}

.cont_wrap .quiz.blue .btn_quiz {
    background-color: #3866C9;
    color: #fff;
}

.cont_wrap .quiz.blue .btn_quiz:hover {
    background-color: #163475;
}

.cont_wrap .quiz.light .btn_quiz {
    background-color: #fff;
    color: #000;
}

.cont_wrap .quiz.light .btn_quiz:hover {
    background-color: #c7f4ff;
}


.cont_wrap .frame {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
}

.box_tab > ul {
    font-size: 0;
}

.box_tab > ul li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100px;
}

.box_tab.col3 > ul li {
    display: inline-block;
    width: 33.3333%;
    height: 100px;
}

.box_tab.col5 > ul li {
    display: inline-block;
    width: 20%;
    height: 100px;
}

.box_tab > ul li button {
    border: none;
    background-color: transparent;
    font-size: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: #999;
    font-family: "GmarketSansMedium";
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

.box_tab.col3 > ul li button {
    font-size: 25px;
    line-height: 30px;
}

.box_tab.col5 > ul li button {
    font-size: 25px;
    line-height: 30px;
}

.box_tab > ul li button:hover {
    color: #000;
}

.box_tab.yellow > ul li button.selected {
    background-color: #ffc561;
    color: #000;
}

.box_tab.blue > ul li button.selected {
    background-color: #318893;
    color: #fff;
}

.box_tab.mint > ul li button {
    border: 2px solid #57B6CE;
    border-bottom: none;
    box-sizing: border-box;
}

.box_tab.mint > ul li button.selected {
    background-color: #57B6CE;
    color: #fff;
}

.box_tab.purple > ul li button {
    border: 2px solid #8167C7;
    border-bottom: none;
    box-sizing: border-box;
}

.box_tab.purple > ul li button.selected {
    background-color: #8167C7;
    color: #fff;
}

.box_tab.dblue > ul li button {
    border: 2px solid #D2E6FF;
    border-bottom: none;
    box-sizing: border-box;
}

.box_tab.dblue > ul li button.selected {
    background-color: #D2E6FF;
    color: #000;
}

.box_tab.green > ul li button {
    border: 2px solid #00a5b9;
    border-bottom: none;
    box-sizing: border-box;
}

.box_tab.green > ul li button.selected {
    background-color: #00a5b9;
    color: #fff;
}

.box_tab.col4 > ul li {
    width: 25%;
}

.box_tab.col4 > ul li button {
    font-size: 24px;
}

.tab_cont {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}

.tab_cont.video {
    padding: 0;
}

.box_tab.yellow .tab_cont {
    background-color: #ffc561;
}

.box_tab.mint .tab_cont {
    background-color: #57B6CE;
}

.box_tab.purple .tab_cont {
    background-color: #8167C7;
}

.box_tab.blue .tab_cont {
    background-color: #318893;
}

.box_tab.dblue .tab_cont {
    background-color: #D2E6FF;
}

.tab_cont > div {
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
}

.tab_cont > div.clear {
    background-color: transparent;
}

.tab_cont.video > div {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.tab_cont > div > div {
    display: none;
    overflow: hidden;
    -webkit-animation:showUp.2s ease-out forwards;animation:showUp.2s ease-out forwards;
}

.inner_tab_cont > div > div {
    display: none;
    overflow: hidden;
    -webkit-animation:showUp.2s ease-out forwards;animation:showUp.2s ease-out forwards;
}

.inner_tab_cont > div > div.open {
    display: block;
}

.tab_cont > div.padding > div {
    padding: 30px;
}

.tab_cont > div > div.open {
    display: block;
}

.relative_box {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.relative_box + .relative_box {
    margin-top: 100px;
}

.relative_box .abslt {
    position: absolute;
}

.horz_wrap {
    background-color: #fff;
    padding: 50px;
    font-size: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.horz_wrap.green {
    background-color: #50B180;
}

.horz_wrap.gray {
    background-color: #E7E7E7;
}

.horz_wrap.yellow {
    background-color: #FFAF46;
}

.horz_wrap img {
    display: inline-block;
    width: 50%;
}

.button_tab ul {
    font-size: 0;
    margin-bottom: -27px;
    position: relative;
    z-index: 1;
}

.button_tab ul li {
    display: inline-block;
    width: 200px;
    height: 54px;
}

.button_tab ul li button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100px;
    font-family: "GmarketSansMedium";
    font-size: 20px;
    color: #999;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

.button_tab ul li button:hover {
    color: #000;
}

.button_tab ul li button.selected {
    color: #fff;
    background-color: #c11e2f;
    border-color: #d1d1d1;
}

.button_tab .tab_cont {
    background-color: #fff;
    border-radius: 20px;
    padding-top: 60px;
}

.slide_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.slide_wrap img {
    border-radius: 20px;
}

.slide_nav button {
    width: 55px;
    height: 55px;
    display: inline-block;
    vertical-align: top;
    border: none;
    background-color: transparent;
    background-size: cover;
    margin: 0 30px;
}

.slide_nav button.prev {
    background-image: url(../img/history/4-cont02.png);
}

.slide_nav button.next {
    background-image: url(../img/history/4-cont03.png);
}

.bg_cont {
    width: 100%;
    padding-top: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.box_slider_wrap {
    margin-top: 80px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.box_slider_wrap li {
    font-size: 0;
    padding: 100px 140px;
    box-sizing: border-box;
}

.box_slider_wrap li > div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 400px;
}

.box_slider_wrap li > div h3 {
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    letter-spacing: -1px;
}

.box_slider_wrap li > div p {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -1px;
}

.box_slider_wrap li > div:first-child {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
}

.box_slider_wrap li > div:last-child {
    padding-left: 40px;
    box-sizing: border-box;
    text-align: left;
}

.box_slider_wrap li > div img {
    max-width: 100%;
    max-height: 100%;
}

.box_slider_wrap .nav button {
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: none;
    background-position: center;
    transform: translateY(-50%);
    position: absolute;
}

.box_slider_wrap .nav {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.box_slider_wrap .nav button.prev {
    background-image: url(../img/history/5-cont03.png);
    left: 20px;
}

.box_slider_wrap .nav button.next {
    background-image: url(../img/history/5-cont04.png);
    right: 20px;
}

.clip_tab {
    margin-bottom: 50px;
}

.clip_tab ul {
    font-size: 0;
}

.clip_tab ul li {
    display: inline-block;
    vertical-align: bottom;
    width: 24%;
    height: 130px;
    border-radius: 20px;
    padding: 1px 1px 10px 1px;
    box-sizing: border-box;
    background-color: #E8D9FF;
    transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -webkit-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -moz-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -o-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out
}

.clip_tab ul li.selected {
    padding: 1px 1px 1px 1px;
    height: 120px;
}

.clip_tab ul li + li {
    margin-left: 1.3333%;
}

.clip_tab ul li button {
    width: 100%;
    height: 100%;
    background-color: #000;
    border: none;
    border-radius: 20px;
    font-family: "GmarketSansMedium";
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    line-height: 36px;
    background-image: cover;
}

.clip_tab ul li:nth-child(1) button {
    background-image: url(../img/personnel/btn-bg01.png);
}

.clip_tab ul li:nth-child(2) button {
    background-image: url(../img/personnel/btn-bg02.png);
}

.clip_tab ul li:nth-child(3) button {
    background-image: url(../img/personnel/btn-bg03.png);
}

.clip_tab ul li:nth-child(4) button {
    background-image: url(../img/personnel/btn-bg04.png);
}

.qna_wrap {
    margin-top: 100px;
}

.qna_wrap.stalone {
    margin-top: 0;
}

.qna_wrap span {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 2px;
    background-color: #7364FF;
    margin: 0 auto;
}

.qna_wrap h3 {
    font-size: 46px;
    font-weight: 900;
    font-family: "GmarketSansMedium";
    color: #7364FF;
    letter-spacing: -2px;
    margin-top: 50px;
}

.qna_wrap ul {
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
}

.qna_wrap h3 + ul {
    margin-top: 50px;
}

.qna_wrap ul li {
    padding: 40px 20px;
    border-bottom: 2px solid #7364FF;
    position: relative;
}

.qna_wrap ul li::after {
    content: "+";
    font-size: 40px;
    position: absolute;
    top: 35px;
    right: 20px;
    color: #7364FF;
    line-height: 40px;
}

.qna_wrap ul li em,.qna_wrap ul li a {
    font-style: normal;
    font-size: 30px;
    text-align: left;
    color: #7364FF;
    word-break: keep-all;
    font-family: "GmarketSansMedium";
    line-height: 40px;
    display: block;
    cursor: pointer;
    padding-right: 180px;
}

.qna_wrap ul li p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
    display: none;
    font-family: "GmarketSansMedium";
}

.qna_wrap ul li.selected p {
    display: block;
}

.qna_wrap ul li .col2 {
    font-size: 0;
    display: none;
    margin-top: 20px;
}

.qna_wrap ul li.selected .col2 {
    display: block;
}

.qna_wrap ul li .col2 > div {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.qna_wrap ul li .col2 > div:last-child {
    padding-left: 20px;
    box-sizing: border-box;
}

.qna_wrap ul li .col2 p {
    display: block;
    margin-top: 0;
}

.frame + .frame {
    margin-top: 80px;
}

.inner_slider {
    position: relative;
}

.inner_slider  img {
    width: 100%;
}

.clear .inner_slider {
    background-color: #fff;
}

.inner_slider .nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
    width: auto;
}

.inner_slider .nav button {
    width: 70px;
    height: 70px;
    background-size: 70px auto;
    border: none;
    background-color: transparent;
}

.inner_slider .nav button.prev {
    background-image: url(../img/assets/btn-prev.png);
}

.inner_slider .nav button.next {
    background-image: url(../img/assets/btn-next.png);
}

.top_bg {
    width: 100%;
    padding-top: 43%;
    background-image: url(../img/innovation/1-bg02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin-top: -30px;
}

.top_bg a {
    display: block;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    color: #00A5B9;
    text-align: center;
    line-height: 80px;
    font-size: 34px;
    font-family: "GmarketSansMedium";
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
}

.top_bg a:nth-child(1) {
    right: 16%;
    top: 21%;
}

.top_bg a:nth-child(2) {
    right: 18%;
    top: 70%;
}

.top_bg a:nth-child(3) {
    left: 18%;
    top: 70%;
}

.inner_tab {
    margin-top: 30px;
    background-color: #fff;
    padding: 80px 100px;
}

.inner_tab.n_p {
    padding: 0;
    margin-top: 0;
}

.inner_tab.sep_top {
    padding-top: 50px;
    border-top: 1px solid #666;
    margin-top: 50px;
}

.inner_tab ul {
    font-size: 0;
}

.inner_tab ul li {
    display: inline-block;
    width: 49%;
    background-color: transparent;
}

.inner_tab ul li button {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    color: #999;
    height: 70px;
    font-size: 30px;
    width: 100%;
    font-family: "GmarketSansMedium";
}

.inner_tab ul li button.selected {
    background-color: transparent;
    color: #57B6CE;
    border-color: #57B6CE;
}

.inner_tab ul li + li {
    margin-left: 2%;
}

.inner_tab.col3 ul li {
    width: 32%;
}

.inner_tab.col3 ul li button {
    height: 90px;
}

.inner_tab.col3 ul li button.selected {
    color: #8167C7;
    border-color: #8167C7;
}

.inner_tab.col3 ul li button.selected p {
    color: #8167C7;
}

.inner_tab.col3 ul li p{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    color: #999;
    margin-top: 10px;
}

.inner_tab.col5 ul li {
    width: 32%;
}

.inner_tab.col5 ul li:nth-child(n+4) {
    margin-top: 20px;
}

.inner_tab.col5 ul li button {
    height: 90px;
}

.inner_tab.col5 ul li button.selected {
    color: #8167C7;
    border-color: #8167C7;
}

.inner_tab.col5 ul li button.selected p {
    color: #8167C7;
}

.inner_tab.col5 ul li p{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    color: #999;
    margin-top: 10px;
}

.inner_tab.col4 ul li {
    width: 22.75% !important;
    height: 130px !important;
}

.inner_tab n_p col4 ul li{
    width: 22.75%;
    height: 130px;
}

.inner_tab.col4 ul li button {
    word-break: keep-all;
    height: 120px;
    font-size: 24px;
    line-height: 32px;
}

.inner_tab.col4 ul li:nth-child(n+5) {
    margin-top: 20px;
}

.inner_tab_cont  {
    margin-top: 50px;
}

.inner_tab .button li {
    background-color: #00A5B9;
    border: 1px solid #00A5B9;
    box-sizing: border-box;
    border-radius: 20px;
    height: 120px;
    vertical-align: top;
}

.inner_tab .button li button {
    height: 105px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    color: #666;
    font-size: 25px;
    line-height: 30px;
}

.inner_tab .button li button.selected {
    background-color: #54B0DA;
    color: #fff;
}

.slider_wrap {
    padding: 0 100px;
    position: relative;
}

.wide_slider {
    overflow: hidden;
}

.slider_wrap .dots {
    margin-top: 30px;
}

.slider_wrap .dots span + span {
    margin-left: 4px;
}

.slider_wrap .nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.slider_wrap .nav button {
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    background-size: cover;
    position: absolute;
}

.slider_wrap .nav button.prev {
    background-image: url(../img/positive/2-btn01.png);
    left: 0;
}

.slider_wrap .nav button.next {
    background-image: url(../img/positive/2-btn02.png);
    right: 0;
}

.s_tit {
    width: 280px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
    font-family: "GmarketSansMedium";
}

.s_tit.top_p {
    margin-top: 100px;
}

.s_tit.blue {
    background-color: #6D7BE2;
    color: #fff;
}

.s_tit.yellow {
    background-color: #FFC368;
    color: #fff;
}

.option_btn {
    margin-top: 100px;
}

.option_btn a {
    display: inline-block;
    width: 535px;
    height: 148px;
    margin: 0 auto 66px;
    border-radius: 119px;
    line-height: 148px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-family: "GmarketSansMedium";
    font-size: 47px;
    color: #fff;
    font-weight: 500;
    border: none;
    background-color: #FFAF46;
}

.cont_tab {
    position: relative;
    margin-top: 80px;
}

.cont_tab ul {
    font-size: 0;
    position: relative;
    z-index: 1;
}

.cont_tab ul li {
    display: inline-block;
    width: 20%;
}

.cont_tab.col4 ul li {
    width: 20%;
}

.cont_tab.col4 ul li + li {
    margin-left: 6.6666%;
}

.cont_tab ul li button {
    width: 100%;
    height: 420px;
    background-size: auto 420px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.cont_tab ul.step li:nth-child(1) button {
    background-image: url(../img/employ/1-cont01.png);
}
.cont_tab ul.step li:nth-child(2) button {
    background-image: url(../img/employ/1-cont02.png);
}
.cont_tab ul.step li:nth-child(3) button {
    background-image: url(../img/employ/1-cont03.png);
}
.cont_tab ul.step li:nth-child(4) button {
    background-image: url(../img/employ/1-cont04.png);   
}
.cont_tab ul.step li:nth-child(5) button {
    background-image: url(../img/employ/1-cont05.png);
}

.cont_tab ul.button li {
    width: 14.2857%;
}

.cont_tab ul.button li button {
    height: 178px;
    background-size: 188px auto;
    background-position: top center;
}

.cont_tab ul.button li:nth-child(1) button {
    background-image: url(../img/employ/2-cont01-1.png);
}
.cont_tab ul.button li:nth-child(2) button {
    background-image: url(../img/employ/2-cont01-2.png);
}
.cont_tab ul.button li:nth-child(3) button {
    background-image: url(../img/employ/2-cont01-3.png);
}
.cont_tab ul.button li:nth-child(4) button {
    background-image: url(../img/employ/2-cont01-4.png);
}
.cont_tab ul.button li:nth-child(5) button {
    background-image: url(../img/employ/2-cont01-5.png);
}
.cont_tab ul.button li:nth-child(6) button {
    background-image: url(../img/employ/2-cont01-6.png);
}
.cont_tab ul.button li:nth-child(7) button {
    background-image: url(../img/employ/2-cont01-7.png);
}

.cont_tab ul.pre li button {
    text-align: center;
    height: auto;
}

.cont_tab ul.pre li button > div {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border: 20px solid #008ba6;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 40px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -webkit-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -moz-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out;
    -o-transition: All 0.1s cubic-bezier(.31, .15, .19, 1), opacity 0.1s ease-out
}

.cont_tab ul.pre li button.selected > div {
    transform: scale(1.2);
    border-color: #00a5b9;
}

.cont_tab ul.pre li button span {
    font-size: 28px;
    font-family: "GmarketSansMedium";
    color: #444444;
}

.cont_tab ul.pre li:nth-child(1) button > div {
    background-image: url(../img/prevent/img_01.png);
}
.cont_tab ul.pre li:nth-child(2) button > div {
    background-image: url(../img/prevent/img_02.png);
}
.cont_tab ul.pre li:nth-child(3) button > div {
    background-image: url(../img/prevent/img_03.png);
}
.cont_tab ul.pre li:nth-child(4) button > div {
    background-image: url(../img/prevent/img_04.png);
}

.cont_tab .tab_cont > div {
    background-color: transparent;
}

.cont_tab .tab_bg {
    width: 100%;
    position: absolute;
    top: 84px;
    height: 50px;
    padding: 0 100px;
    box-sizing: border-box;
}

.cont_tab .tab_bg::after {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    background-color: #2D68B2;
}

.cont_tab .tab_bg.green::after {
    background-color: #008ba6;
}

.class_tab ul {
    font-size: 0;
}

.class_tab ul li {
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

.class_tab ul li + li {
    margin-left: 2%;
}

.class_tab ul li button {
    border: 1px solid #3866C9;
    color: #3866C9;
    height: 60px;
    width: 100%;
    border-radius: 50px;
    background-color: transparent;
    font-size: 20px;
    font-family: "GmarketSansMedium";
    line-height: 63px;
    transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -webkit-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -moz-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out;
    -o-transition: All 0.3s cubic-bezier(.31, .15, .19, 1), opacity 0.3s ease-out
}

.class_tab ul li button.selected {
    color: #fff;
    background-color: #3866C9;
}

.desktop_cont {
    padding-bottom: 300px;
}

.desktop_cont  .video_clip{
    width: 100%;
    max-width: 778px;
    position: absolute;
    top: 212px;
    left: 268px;
}

.bg_desktop {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    margin-top: 100px;
    width: 100%;
    height: 730px;
    background-image: url(../img/employ/3-bg-desktop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.pre_bg_con {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.pre_bg_con::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 55.41%;
    background-image: url(../img/prevent/2-bg01.png);
    background-size: 100% auto;
}

.pre_bg_con_end {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.pre_bg_con_end::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 20%;
    background-image: url(../img/prevent/2-bg03.png);
    background-size: 100% auto;
}

.pre_inner_con {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../img/prevent/2-bg02.png);
    background-size: 100% auto;
    margin-bottom: -120px;
}

.fake_link {

}

.fake_link a {
    display: block;
    width: 60px;
    height: 20px;
    position: absolute;
}

.fake_link a:first-child {
    top: 1027px;
    left: 782px;
}

.fake_link a:last-child {
    top: 1062px;
    left: 881px;
}