@font-face{
    font-family: "NotoSansCJKkr-regular";
    src:local(※), url("../font/NotoSansCJKkr-Regular.otf") format('opentype');
}

@font-face{
    font-family: "NotoSansCJKkr-demilight";
    src:local(※), url("../font/NotoSansCJKkr-DemiLight.otf") format('opentype');
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    /* color:#000; */
    font-size:14px;
    font-weight: normal;
    font-family: NotoSansCJKkr-regular;
    outline:none;
}
html,body{
    color: #333;
}
b{
    font-weight: bold;
}


/* 그라데이션 있는 배경 */

.bg_type1{
    width:100vw;
    max-width: 100%;
    min-height:100vh;
    background:linear-gradient(#03cf5d 20%,#f5f5f5 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* 그라데이션 없는 배경 */

.bg_type2{
    position: relative;
    width:100vw;
    max-width: 100%;
    min-height:100vh;
    background:linear-gradient(#03cf5d 30%, #fff 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bg_inner_type1{
    position: relative;
    bottom:0;
    width:100vw;
    max-width: 100%;
    background:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

/* 스타일 설정 CSS */

.txt-al-end{text-align:end !important;}

.font-bold{font-weight: bold !important;}

.font-size-12{font-size:0.86rem !important;}
.font-size-16{font-size:1.14rem !important;}
.font-size-20{font-size:1.43rem !important;}

.font-color-white{color:#fff !important;}
.font-color-accent{color:#fb5756 !important;}

.letter-spacing-m0p34{letter-spacing: -0.023rem !important;}

.w-50{width:50% !important;}
.w-55{width:55% !important;}
.w-60{width:60% !important;}
.w-100{width:100% !important;}

.f{display: flex;}
.f-col{flex-direction: column !important;}

.f-ju-end{justify-content: end !important;}
.f-ju-center{justify-content: center !important;}
.f-ju-between{justify-content: space-between !important;}

.f-al-center{align-items: center !important;}
.f-al-end{align-items: flex-end !important;}

.f-al-s-center{align-self:center !important;}

.padding-rel-t-12 {padding-top:0.86rem !important;}
.padding-rel-t-20 {padding-top:1.43rem !important;}
.padding-rel-t-30 {padding-top:2.14rem !important;}

.padding-rel-b-12 {padding-bottom:0.86rem !important;}
.padding-rel-b-16 {padding-bottom:1.14rem !important;}
.padding-rel-b-64 {padding-bottom:4.57rem !important;}

.margin-rel-l-9 {margin-left:0.64rem !important;}
.margin-rel-l-16 {margin-left:1.14rem !important;}
.margin-rel-l-20 {margin-left:1.43rem !important;}
.margin-rel-l-45 {margin-left:3.21rem !important;}

.margin-rel-r-9 {margin-right:0.64rem !important;}
.margin-rel-r-12 {margin-right:0.86rem !important;}
.margin-rel-r-20 {margin-right:1.43rem !important;}
.margin-rel-r-22 {margin-right:1.57rem !important;}

.margin-rel-t-8 {margin-top:0.57rem !important;}

.margin-rel-b-8 {margin-bottom:0.57rem !important;}
.margin-rel-b-12 {margin-bottom:0.86rem !important;}
.margin-rel-b-14 {margin-bottom:1rem !important;}
.margin-rel-b-15 {margin-bottom:1.07rem !important;}
.margin-rel-b-16 {margin-bottom:1.14rem !important;}
.margin-rel-b-17 {margin-bottom:1.14rem !important;}
.margin-rel-b-20 {margin-bottom:1.43rem !important;}
.margin-rel-b-24 {margin-bottom:1.71rem !important;}
.margin-rel-b-26 {margin-bottom:1.86rem !important;}
.margin-rel-b-33 {margin-bottom:2.36rem !important;}
.margin-rel-b-64 {margin-bottom:4.57rem !important;}
.margin-rel-b-144 {margin-bottom:10.29rem !important;}

.border-bottom {border-bottom:0.071rem solid #dedede !important;}

input{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border:none;
    box-shadow:none;
}
input[type=text]{
    width: calc(100% - 0.05rem);
}

textarea{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border:none;
    box-shadow:none;
    resize:none;
    letter-spacing: -0.028rem;
    width:calc(100% - 1.43rem);
}

/* 카운터 버튼 */

.count_btn{
    width:13.39rem;
  display: flex;
  justify-content: center;
  height:2.13rem;
  background: #f5f5f5;
  border-radius:1.21rem;
    padding:0.35rem 0;
    align-items: center;
}

.count_btn input{
  width:9.115rem;
  background: #f5f5f5;
  text-align: center;
  font-weight: bold;
  font-size:1.25rem;
}

.count_btn button{
  position: relative;
  width:2.1375rem;
  height:2.1375rem;
  box-shadow: none;
  background:#3a3a3a;
  border:0.142rem solid #3a3a3a;
  border-radius:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count_btn button:first-of-type{
    left:0.36rem;
}

.count_btn button:last-of-type{
    right:0.36rem;
}

.count_btn button p{
    position: relative;
    top: -0.125rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
}

.count_btn button:last-of-type p{
    left: 0.01rem;
    top: -0.1rem;
}

/*//////////////////////////*/
/* 토글 스위치 설정 */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.14rem;
  height: 1.71rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.43rem;
  width: 1.43rem;
  left: 0.2rem;
  bottom: 0.14rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #03cf5d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.37rem);
  -ms-transform: translateX(1.37rem);
  transform: translateX(1.37rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.29rem;
}

.slider.round:before {
  border-radius: 50%;
}

/*//////////////////////////*/
/* 라디오 관련 설정 */

.radio_container {
  display: block;
  position: relative;
  padding-left: 2.29rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio_container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.57rem;
    width: 1.57rem;
    background:#fff;
    border:0.14rem solid #dedede;
    border-radius: 7.14rem;
}

.radio_container p{
  position: relative;
  top:0.21rem;
}


.radio_container input:checked ~ .radio {
  background-color: #fff;
  border:0.14rem solid #fb5756;
}

.radio_container input:checked ~ p {
    font-weight: bold;
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio_container input[type="radio"]:checked ~ .radio:after {
  display: block;
  background:#fb5756;
}

.radio_container .radio:after {
    top: 0.235rem;
    left: 0.235rem;
    width: 1.14rem;
    height: 1.14rem;
    border-radius: 7.14rem;
    background: white;
}

/*//////////////////////////*/
/* 버튼 설정 */

button{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
}

.btn{
    border-radius:0.57rem;
    font-size:1.14rem;
    letter-spacing: -0.028rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height:3.43rem;
}

.btn p{
    font-weight:bold;
}

.btn.narrow{
    height:2.29rem;
    font-size:0.86rem;
    padding:0.5rem 1.14rem;
    border-radius: 1.14rem;
}

.btn.round{
   border-radius:1.57rem;
}

.btn.green{
    background:#03cf5d;
    box-shadow:0 0.14rem 0.71rem rgba(0,0,0,0.1);
}

.btn.green p{
    color:#fff;
}

.btn.gray{
    background:#dedede;
    box-shadow:0 0.14rem 0.71rem rgba(0,0,0,0.1);
}

.btn.gray p{
    color:#1b1b1b;
}

.btn.black{
    background:#3a3a3a;
}

.btn.black p{
    color:#ffffff;
}

.btn.black_line{
    background:#fff;
    border:0.071rem solid #3a3a3a;
}

/* 지도 조회 내에 검은 버튼 */

.map_set_btn{
    position: absolute;
    font-weight: normal;
    bottom:0.86rem;
    width:calc(100% - 2.86rem);
}

.map_set_btn::after{
    content:"";
    background:url("../svg/ic-setdestination-white.svg");
    width:1.14rem;
    height:1.14rem;
    position:absolute;
    left:3.64rem;
}

/* 지도보기 버튼 특수 설정 */

.check_map_btn{
    border-radius: 1.14rem;
    border:0.071rem solid #3a3a3a;
    width:6.64rem;
    height:2.29rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check_map_btn p{
    font-size:0.86rem;
}

.check_map_btn::before{
    background-repeat: no-repeat;
    position: relative;
    left:-0.36rem;
    content: "";
    width: 1.14rem;
    height: 1.14rem;
    background: url(../svg/ic-setdestination.svg);
    background-size: cover;
}

.close_btn{
    background:url("../svg/ic-clear.svg");
    background-size:cover;
    background-repeat: no-repeat;
}

/* matching page 내 특수 버튼 설정 */

.make_call_btn::before{
    content:"";
    background:url("../svg/ic-call-16.svg");
    width:1.14rem;
    height:1.14rem;
    position: relative;
    left:-0.43rem;
    font-weight: bold;
}

.detail_order_btn::after{
    content:"";
    background:url("../svg/ic-next-16.svg");
    width:1.14rem;
    height:1.14rem;
    position: relative;
    left:0.43rem;
    font-weight: bold;
}


/*//////////////////////////*/
/* 인풋 테마 설정 */

.border_txt{
    height:3.42rem;
    padding-left:1.14rem;
    border: 0.071rem solid #dedede;
    border-radius: 0.57rem;
}

.search_bar{
    position: relative;
    width:calc(100% - 2.86rem);
}

.search_bar::before{
    position: absolute;
    content:"";
    bottom:1.56rem;
    left:1.43rem;
    width: 1.71rem;
    height:1.71rem;
    background:url("../svg/ic-serach.svg");
    background-size:cover;
    background-repeat: no-repeat;
}

.search_bar_txt{
    height:3.42rem;
    padding-left:4rem;
    width:calc(100% - 4rem);
    border: 0.071rem solid #dedede;
    border-radius: 0.57rem;
    margin:0.71rem 0;
}

.border_txtarea_big{
    padding-top: 0.64rem;
    width: 100%;
    padding-left: 0.64rem;
    border: 0.071rem solid #dedede;
    border-radius: 0.57rem;
}

.select_type_1{
    height:3.42rem;
    padding-left:1.14rem;
    background-color:#f5f5f5;
    border-radius:0.57rem;
    border:0.071rem solid #f5f5f5;
    font-weight: bold;
}

/*//////////////////////////*/
/* 각종 뱃지 설정 */

.badge{
    width:4.29rem;
    height:1.57rem;
    border-radius:1.14rem;
    font-size:0.86rem;
    letter-spacing: -0.02rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge.green{
    background-color:#03cf5d;
    color:white;
}

.badge.yellow{
    background-color:#ffd200;
    color:white;
}

.badge.gray{
    background-color:#dedede;
    color:#000;
}

.badge.blue{
    background-color:#4970f0;
    color:white;
}

/*//////////////////////////*/
/* 페이지 상단 타이틀 */

.page_title{
    font-size:1.71rem;
    color:white;
    font-weight: bold;
    align-self:start;
    margin-left:1.43rem;
}

/*//////////////////////////*/
/* 진행도 표현 바 */

.progress_bar{
    width:72%;
    height:4.93rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.progress_dot{
    position: relative;
    top:0.71rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress_dot p:first-of-type{
    color:#fff;
    background-color:#19a958;
    width:1.71rem;
    height:1.71rem;
    border-radius:50%;
    border: 0.142rem solid #19a958;
    font-size:0.86rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0.143rem;
}

.progress_dot p:last-of-type{
    font-weight:lighter;
    color:#fff;
}

.progress_dot.current p:first-of-type{
    background-color:#ffd200;
    border:0.142rem solid #000;
    color:#000;
}

.progress_dot.current p:last-of-type{
    font-weight: bold;
}

.progress_dot.completed p:first-of-type{
    background-color:#ffd200;
    border:0.142rem solid #ffd200;
    color:#000;
}

/* 주의 : 진행 과정의 갯수가 바뀌면 width도 바뀌어야함. 동적으로 사용 위해서는 javascript 필요 */

.progress_dot:not(:last-of-type)::after{
    content: "";
    width: 30vw;
    height: 0.643rem;
    position: absolute;
    left: 1.71rem;
    top: 0.84rem;
    background: #19a958;
    z-index:-1;
}

.progress_dot.completed::after{
    background: #ffd200;
}

/*//////////////////////////*/
/* 주문 내역의 상단 메뉴 */

.inner_menu{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding-top:0.86rem;
    margin-bottom:1.43rem;
    border-bottom:0.071rem solid #dedede;
}

.inner_menu ul{
    display:flex;
    margin-left:1.43rem;
}

.inner_menu ul li{
    margin-right:1.43rem;
    padding-bottom:0.86rem;
}

.inner_menu ul li.selected{
    font-weight:bold;
    border-bottom:0.14rem solid #03cf5d;
}

.inner_menu_select{
    position: relative;
    left:-2.86rem;
    display:flex;
    align-items:center;
        padding-bottom:0.86rem;
}

.inner_menu_select::after{
    position: absolute;
    right:-1.43rem;
    content:"";
    background:url("../svg/ic-dropdown.svg");
    background-size:cover;
    background-repeat: no-repeat;
    width:1rem;
    height:1rem;
}

/*//////////////////////////*/
/* 컨텐츠 외부의 주의사항 텍스트 */

.center_txt{
    width:87%;
    font-size:0.86rem;
    margin:0 auto;
    text-align: center;
    letter-spacing: -0.02rem;
}

.center_txt b{
    font-size:0.86rem;
}

/*//////////////////////////*/
/* 하단 바 */

.bottom_bar{
    background: #fff;
    position: fixed !important;
    padding: 0.78rem 1.14rem;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #999999;
}

@media only screen and (min-width:620px){
    .progress_dot:not(:last-of-type)::after,
    .progress_dot.completed::after{
        width:35vw;
    }
    
}
