
/* 회색 배경 컨텐츠 박스 */

.content_box{
    position: relative;
    width: 90%;
    padding: 1.14rem;
    background: #fff;
    margin-top: 19px;
    border-radius: 0.71rem;
    box-shadow: 0 0.143rem 0.71rem #0000001a;
    left: 5%;
}

.content_box .close_btn{
    position: absolute;
    width:1.14rem;
    height:1.14rem;
    right:1.14rem;
}

.content_title{
    color:#3a3a3a;
    font-size:0.86rem;
}

.content_subtitle{
    color:#3a3a3a;
    font-size:0.86rem;
    letter-spacing: -0.02rem;
    font-weight: lighter;
}

.content_center_txt{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -0.02rem;
}

.content_gray_inner_box{
    width: 100%;
    padding: 1.14rem;
    background: #f5f5f5;
    border-radius: 0.57rem;
}

.content_gray_title{
    letter-spacing: -0.024rem;
    font-weight: bold;
}

/* 출발지 도착지 아이콘 설정 */

.dest_icon_container{
    display: flex;
    flex-direction: column;
    margin-right:0.64rem;
}

.dest_icon_container object{
    width:2.57rem;
}

.dest_icon_container object[alt="from"],
.dest_icon_container object[alt="to"]{
    height:2.57rem;
}

.dest_icon_container object[alt="dash"]{
    height:10rem;
}

.dest_icon_container.small object[alt="dash"]{
    height:1.71rem;
}

/* 출발지 도착지 정보 설정 */

.from_container{
    display: flex;
    flex-direction: column;
    border-bottom:0.071rem solid #dedede;
    padding-bottom:1.14rem;
}

.from_container p,
.to_container p{
    letter-spacing: -0.024rem;
}

.to_container{
    display: flex;
    flex-direction: column;
    padding-top:1.29rem;
}

/* 타입 선택 창 */

.type_select_menu{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.type_select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type_select_menu.t_transport .type_select img{
    width:2.57rem;
    height:2.57rem;
}

.type_select_menu.t_product .type_select img{
    width:3.14rem;
    height:3.14rem;
}

.type_select p{
    letter-spacing:-0.024rem;
}

.type_select.selected img{
    border: 0.071rem solid #03cf5d;
    border-radius: 50%;
}

.type_select.selected p{
    font-weight: bold;
}

.text_select{
    display:flex;
    flex-wrap: wrap;
}

.text_select li{
    min-width:4.29rem;
    height:2.29rem;
    padding:0 0.25rem;
    background-color:#fff;
    border: 0.071rem solid #3a3a3a;
    border-radius: 1.14rem;
    margin-right:0.29rem;
    margin-bottom:0.57rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_select li p{
        font-size:0.86rem;
}

.text_select li.selected{
    border: 0.071rem solid #03cf5d; 
}

.text_select li.selected p{
    color:#03cf5d; 
}