header{
    position: relative;
    width:100%;
    padding:0.86rem 0;
    display: flex;
    justify-content: space-between;
}

header object{
    width:2rem;
    height:2rem;
}

header a{
    width:2rem;
    height:2rem;
}

header .menu_btn{
    margin-left:1.43rem;
}

header .call_btn{
    margin-right:0.765rem;
}

.header_right{
    margin-right:1.43rem;
}
