/* 헤더의 메뉴 버튼 누르면 나오는 메뉴 */

.popup_menu{
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    overflow:hidden;
}

.menu_container{
    position: absolute;
    width:78vw;
    height:100vh;
}

/* 메뉴 팝업 상단부 */

.menu_container_top{
    height:20%;
    background:#03cf5d;
}

.menu_close_btn_container{
    width:calc(100% - 2.86rem);
    height:calc(38% - 1.72rem);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.86rem 1.43rem;
}

.menu_close_btn{
    position: relative;
    width:1.29rem;
    height:1.29rem;
}

.menu_info_container{
    width:calc(100% - 1.07rem);
    height:calc(62% - 2.25rem);
    padding:1.125rem 0 1.07rem 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_info_container p:first-of-type{
    color:#fff;
    font-weight:bold;
    font-size:1.14rem;
    letter-spacing:0.36px;
}

.menu_info_container p:last-of-type{
    color:#fff;
}

/* 메뉴 팝업 하단부 */

.menu_container_bottom{
    height:80%;
    background:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* 메뉴 하단 부 내 버튼들 */

.menu_btn_container{
    position: relative;
    width:80%;/* 74%; */
    height:calc(22% - 4.72rem);
    display: flex;
    align-items: flex-start;/* center; */
    justify-content: space-between;
    padding:2.36rem 0;
}

.menu_btn_container a{
    width:5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}

.menu_btn_container a img{
    width:3.14rem;
    height:3.14rem;
    margin-bottom:0.21rem;
}

.menu_btn_container p{
    color:#3a3a3a;
    letter-spacing: 0.021rem;
    font-size:1.14rem;
}

/* 메뉴 하단 부 내 리스트들 */

.menu_li_container{
    margin-top:0.71rem;
    width:80%;
}

.menu_li_container li{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1.5rem;
}

.menu_li_container li a{
    margin-left:2.57rem;
}

.menu_li_container li::after{
    content:"";
    width:1.71rem;
    height:1.71rem;
    position: absolute;
    background-size:cover;
}

.menu_li_container li:first-of-type::after{
    background:url("../svg/ic-menu-user.svg");
}

.menu_li_container li:nth-of-type(2)::after{
    background:url("../svg/ic-menu-hidden.svg");
}

.menu_li_container li:nth-of-type(3)::after{
    background:url("../svg/ic-cost.svg");
}

.menu_li_container li:nth-of-type(4)::after{
    background:url("../svg/ic-menu-partner.svg");
}

.menu_li_container li:nth-of-type(5)::after{
    background:url("../svg/ic-menu-cs.svg");
}

.menu_li_container li:nth-of-type(6)::after{
    background:url("../svg/ic-menu-noti.svg");
}

/* 메뉴 최하단부 텍스트 2개 */

.menu_bottom_container{
    position: absolute;
    bottom:1.42rem;
    padding-top:0.71rem;
    width:74%;
    display: flex;
    justify-content: space-between;
}

