body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  .top-image {
    width: 1920px;
    height: 1036px;
    margin-top: 179px;
    background: url("./Images/section1.png");
  }

  .quiz {
    width: 1274px;
    height: 667px;
    margin: 166px auto 75px;
    background: url("./Images/quiz.png");
  }

  .footer {
    position: relative;
    width: 1920px;
    height: 1236px;
    background: url("./Images/footer.png") no-repeat;

    .quiz-button {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 550px;
      height: 155px;
      margin: 0 auto 0;
      background: url("./Images/quiz-button.png");
    }
  }
}
