@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,body,div,ul,li,p,h3,h1,h2,h4,h5{padding:0;margin:0;line-height:1}
ul,li{list-style:none}
a{text-decoration:none;color:#333}
textarea,input{font-family:'Noto Sans KR',sans-serif;}
optgroup,select,button{cursor:pointer}
input::-webkit-input-placeholder{color:#ccc;font-weight:400}
textarea::-webkit-input-placeholder{color:#ccc;font-weight:400}
input::-ms-input-placeholder{color:#ccc;font-weight:400}
textarea::-ms-input-placeholder{color:#ccc;font-weight:400}
input::-moz-placeholder{color:#ccc;font-weight:400}
textarea::-moz-placeholder{color:#ccc;font-weight:400}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
select::-ms-expand{display:none}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none}
img{vertical-align:top}
body{width:100%;min-height:100vh;position:relative;box-sizing:border-box;}
caption{display:none}
*{margin:0;padding:0;text-decoration:none;-webkit-text-size-adjust:none;outline:0;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;font-family: 'Noto Sans KR', sans-serif;font-weight:400;line-height:1em;font-size:13px;color:#333;-webkit-font-smoothing:antialiased}
i {line-height: inherit;font-style: normal}

@-webkit-keyframes showUp {
0% {opacity: 0;transform: translateY(10px)}
100% {opacity: 1;transform: translateY(0)}
}

@keyframes showUp {
0% {opacity: 0;transform: translateY(10px)}
100% {opacity: 1;transform: translateY(0)}
}

.bp12 {
    padding-bottom: 12%;
}

.tp12 {
    padding-top: 12%;
}

.bp30 {
    padding-bottom: 30%;
}

.mt5 {
    margin-top: 5%;
}

.mt10 {
    margin-top: 10%;
}

.mt20 {
    margin-top: 20%;
}

.mt30 {
    margin-top: 30%;
}

.mt40 {
    margin-top: 40%;
}

.mt50 {
    margin-top: 50%;
}

.bg_white {
    background-color: #fff;
}

.box_padding {
    padding: 10% 5%;
    box-sizing: border-box;
}

.box_radius {
    border-radius: 10px;
}

.sep_top {
    margin-top: 10%;
    padding-top: 10%;
    border-top: 1px solid #777;
}

.shadow_purple {
    box-shadow: 0 10px 0 #6B55A5;
}

/* 컨텐츠 */

.section {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.section .title img {
    padding-top: 10%;
    width: 100%;
    margin-bottom: 5%;
}

.section .title.fixed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video_clip {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    text-align: center;
    -webkit-animation: showUp.2s ease-out forwards;
    animation: showUp.2s ease-out forwards;
}

.video_clip h3 {
    font-size: 18px;
    font-family: 'GmarketSansMedium';
    display: inline-block;
    padding: 2% 5%;
    border-radius: 20px;
    margin-bottom: 3%;
}

.video_clip h3.green {
    background-color: #008BA6;
    color: #fff;
}

.video_clip h3.yellow {
    background-color: #FFC561;
    color: #000;
    line-height: 22px;
}

.video_clip > .video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-color: #000;
    position: relative;
}

.video_clip > .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cont_wrap {
    position: relative;
}

.cont_wrap img {
    width: 100%;
}

.cont_wrap .fake_btn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cont_wrap .fake_btn button {
    background-color: transparent;
    border: none;
    position: absolute;
}

.button_tab {
    font-size: 0;
}

.button_tab li {
    display: inline-block;
    vertical-align: top;
}

.button_tab li button {
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    background-color: #82A1F1;
    border-radius: 26px;
}

.button_tab.type1 {
    padding: 4% 10% 10%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.button_tab.col2 li {
    width: 45%;
}

.button_tab.col2 li + li {
    margin-left: 10%;
}

.button_tab.col2 li:nth-child(n+3) {
    margin-top: 12%;
}

.button_tab.col2 li:nth-child(2n+1) {
    margin-left: 0;
}

.qa_slider {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.qa_slider > div {
    overflow: hidden;
}

.qa_slider ul li {
    border-radius: 20px;
    overflow: hidden;
}

.qa_slider ul li em {
    display: block;
    width: 100%;
    line-height: 60px;
    background-color: #3E91FB;
    text-align: center;
    color: #fff;
    font-style: normal;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
}

.qa_slider ul li p {
    padding: 3% 6% 0;
    font-size: 16px;
    word-break: keep-all;
    line-height: 24px;
    margin-bottom: 2%;
    font-family: 'GmarketSansMedium';
}

.qa_slider ul li > div {
    background-color: #B9D7FE;
    padding: 3%;
}

.qa_slider ul li > div > div {
    background-color: #fff;
    padding: 3% 6%;
    border-radius: 20px;
}

.qa_slider ul li > div > div span {
    font-size: 16px;
    line-height: 24px;
    font-family: 'GmarketSansMedium';
}

.qa_slider .dots {
    text-align: center;
    margin-top: 5%;
}

.qa_slider .dots span {
    background-color: #fff;
    opacity: 0.4;
}

.qa_slider .dots span.swiper-pagination-bullet-active {
    opacity: 1;
}

.qa_slider.purple {
    padding: 0;
}

.qa_slider.purple ul li em {
    background-color: #7C48BE;
    color: #fff;
}

.qa_slider.purple ul li > div {
    background-color: #E6DCF3;
}

.qa_slider.purple .dots span {
    background-color: #999;
}

.qa_slider.purple .dots span.swiper-pagination-bullet-active {
    background-color: #7C48BE;
    opacity: 1;
}

.quiz_wrap {
    padding: 10% 5% 12%;
    box-sizing: border-box;
}

.quiz_wrap .quiz {
    padding: 5%;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
}

.quiz_wrap .quiz img {
    width: 100%;
}

.quiz_wrap .quiz.white {
    background-color: #fff;
}

.quiz_wrap .quiz.yellow {
    background-color: #FFA733;
}

.quiz_wrap .quiz.green {
    background-color: #2FAB65;
}

.quiz_wrap .quiz.gray {
    background-color: #E7E7E7;
}

.quiz_btn {
    text-align: center;
}

.quiz_btn a {
    width: 80%;
    line-height: 60px;
    display:inline-block;
    border-radius: 50px;
    margin: 12% 0;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    background-color: #fff;
}

.quiz_btn.blue a {
    background-color: #3866C9;
    color: #fff;
}

.quiz_btn.red a {
    background-color: #BE1D2D;
    color: #fff;
}

.quiz_btn.yellow a {
    background-color: #FFA733;
    color: #fff;
}

.quiz_btn.purple a {
    background-color: #fff;
    color: #8D6BC3;
}

.quiz_btn.green a {
    background-color: #2FAB65;
    color: #fff;
}

.quiz_btn.gray a {
    background-color: #E7E7E7;
    color: #49A0BF;
}



.fixed_bg {
    width: 100%;
    padding-top: 125%;
    background-size: cover;
}

.video_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.video_slider > div {
    overflow: hidden;
    box-sizing: border-box;
}

.video_slider > div .video_clip {
    padding: 0;
    padding: 47.7% 17.8% 30%;
}

.video_slider .dots {
    text-align: center;
}

.video_slider .dots span {
    background-color: #fff;
    opacity: 0.6;
}

.video_slider .dots span.swiper-pagination-bullet-active {
    opacity: 1;
}

.modal_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 5;
    display: none;
    align-items: center;
    -webkit-animation: showUp.2s ease-out forwards;
    animation: showUp.2s ease-out forwards;
}

.modal_wrap.open {
    display:flex
}

.modal_wrap .close_btn,.modal_slider .close_btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-family: 'GmarketSansLight';
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: rgba(0,0,0,0.2);
}

.modal_wrap > div {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    text-align: center;
}

.modal_wrap img {
    width: 100%;
}

.frame_cont {
    padding: 0 7%;
    text-align: center;
}

.frame_cont h3 {
    padding: 20px 8%;
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    font-size: 26px;
    position: relative;
    z-index: 1;
    font-family: 'GmarketSansMedium';
    word-break: keep-all;
}

.frame_cont h3.red {
    background-color: #C11E2F;
    color: #fff;
}

.frame_cont h3.yellow {
    background-color: #FFC561;
    color: #000;
}

.block_cont + .block_cont {
    margin-top: 12%;
}

.block {
    box-sizing: border-box;
    margin-top: -34px;
    padding: 54px 3% 10%;
    padding-top: 54px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 0px rgba(0,0,0,0.4);
}

.block img + img {
    margin-top: 8%;
}

.frame_slider {
    padding: 0 7%;
}
.frame_slider > div {
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10% 3%;
    border-radius: 20px;
}

.frame_slider.history > div{
    padding: 10% 8%;
}


.frame_slider .dots {
    text-align: center;
    margin-top: 15%;
}

.frame_slider .dots span {
    background-color: #999;
    opacity: 0.4;
}

.frame_slider .dots span.swiper-pagination-bullet-active {
    background-color: #C32233;
    opacity: 1;
}

.box_link {
    padding: 5% 5% 33%;
}

.frame {
    padding: 0 3%;
}

.card_slider {
    text-align: center;
    padding: 0 3%;
    padding: 12% 5%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 20px;
}

.card_slider > div {
    
    overflow: hidden;
}

.card_slider h3 {
    padding: 14px 8%;
    display: inline-block;
    border-radius: 50px;
    font-size: 24px;
    position: relative;
    z-index: 1;
    font-family: 'GmarketSansMedium';
    margin-bottom: 10%;
}

.card_slider h3.purple {
    background-color: #6D7BE2;
    color: #fff;
}

.card_slider h3.yellow {
    background-color: #FFC368;
    color: #fff;
}

.frame + .frame {
    margin-top: 12%;
}

.card_slider .dots {
    margin-top: 8%;
}

.card_slider .dots.purple span.swiper-pagination-bullet-active {
    background-color: #6D7BE2;
}

.card_slider .dots.yellow span.swiper-pagination-bullet-active {
    background-color: #FFC368;
}

.btn_wrap {
    text-align: center;
    width: 100%;
}

.round_link {
    padding: 14px 12%;
    display: inline-block;
    border-radius: 50px;
    font-size: 24px;
    position: relative;
    z-index: 1;
    font-family: 'GmarketSansMedium';
    margin-bottom: 10%;
    background-color: #FFC368;
    color: #fff;
}

.clip_tab {
    margin-top: 5%;
}

.clip_tab ul {
    font-size: 0;
    padding: 0 5%;
    box-sizing: border-box;
}

.clip_tab ul li {
    display: inline-block;
    width: 49%;
    padding-top: 20%;
    position: relative;
}

.clip_tab ul li + li {
    margin-left: 2%;
}

.clip_tab ul li:nth-child(n+3) {
    margin-top: 4%;
}

.clip_tab ul li:nth-child(2n+1) {
    margin-left: 0;
}

.clip_tab ul li button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    background-color: #E8D9FF;
    padding: 1px 1px 3% 1px;
    border-radius: 25px;
}

.clip_tab ul li.selected button {
    padding: 1px;
    background-color: transparent;
}

.clip_tab ul li button img {
    width: 100%;
    vertical-align: bottom;
}

.img_frame {
    padding: 0 5%;
}

.img_frame + .img_frame {
    margin-top: 20%;
}

.img_frame > div {
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    padding: 10% 5%;
}

.content_slider {
    padding: 0 5%;
    box-sizing: border-box;
}

.content_slider > div {
    overflow: hidden;
}

.content_slider > div li {
    border-radius: 20px;
    overflow: hidden;
    background-color: #318893;
    padding: 2%;
    padding-top: 0;
    box-sizing: border-box;
}

.content_slider > div li em {
    display: block;
    font-family: 'GmarketSansMedium';
    background-color: #318893;
    color: #fff;
    text-align: center;
    padding: 5% 2%;
    font-style: normal;
    font-size: 26px;
    word-break: keep-all;
}

.inner_slider {
    width: 100%;
}

.inner_slider > div {
    overflow: hidden;
}

.inner_slider > div img {
    width: 100%;
}

.inner_slider .dots {
    text-align: center;
    margin-top: 5%;
}

.inner_slider .dots span.swiper-pagination-bullet-active {
    background-color: #459EBF;
}

.inner_slider .dots.purple span.swiper-pagination-bullet-active {
    background-color: #8167C7;
}

.parent_tab > ul {
    font-size: 0;
}

.parent_tab > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: #999;
    border: 1px solid #459EBF;
    border-bottom: none;
    box-sizing: border-box;
    overflow: hidden;
}

.parent_tab.purple > ul > li {
    display: inline-block;
    width: 50%;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    color: #999;
    border: 1px solid #8167C7;
    border-bottom: none;
    box-sizing: border-box;
    overflow: hidden;
}

.parent_tab > ul > li button {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-family: 'GmarketSansMedium';
    letter-spacing: -1px;
}

.parent_tab > ul > li button.selected {
    background-color: #459EBF;
    color: #fff;
}

.parent_tab.purple > ul > li button.selected {
    background-color: #8167C7;
    color: #fff;
}


.parent_tab > .tab_cont {
    background-color: #459EBF;
    padding: 10% 5%;
    border-radius: 0 0 20px 20px;
}

.parent_tab.purple > .tab_cont {
    background-color: #8167C7;
    padding: 10% 5%;
    border-radius: 0 0 20px 20px;
}

.parent_tab > .tab_cont .video_clip {
    padding: 0;
}

.video_clip.hide {
    display: none;
}

.tab_cont > div > div {
    display: none;
    border-radius: 10px;
    -webkit-animation: showUp.2s ease-out forwards;
    animation: showUp.2s ease-out forwards;
}

.tab_cont > div > div.open {
    display: block;
}

.inner_tab > ul {
    font-size: 0;
    margin-bottom: 7%;
}

.inner_tab > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding-bottom: 3%;
    border: 1px solid #00A5B9;
    box-sizing: border-box;
    background-color: #00A5B9;
    border-radius: 21px;
}

.inner_tab > ul > li + li {
    margin-left: 4%;
}

.inner_tab > ul > li button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 6% 2%;
    font-size: 18px;
    line-height: 24px;
    font-family: 'GmarketSansMedium';
    letter-spacing: -1px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    word-break: keep-all;
}

.inner_tab > ul > li button.selected {
    background-color: #21C2D6;
    color: #fff;
}

.inner_tab > ul.s_t > li button {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10%;
}

.inner_tab.under_bar > ul > li {
    background-color: transparent;
    border: none;
    border-radius: 0;
    height: 50px;
    padding: 0;
}

.inner_tab.under_bar > ul > li button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-radius: 0;
    border-bottom: 3px solid #999;
}

.inner_tab.under_bar > ul > li button.selected {
    background-color: transparent;
    color: #459EBF;
    border-color: #459EBF;
}

.inner_tab.under_bar > ul {
    margin-bottom: 3%;
}

.inner_content {
    padding: 3% 0;
    text-align: center;
}

.inner_content > div {
    overflow: hidden;
    padding: 3%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 6%;
    box-shadow: 0 10px 0 #39839F;
}

.inner_content.purple > div  {
    box-shadow: 0 10px 0 #6B55A5;
}

.inner_content.wide > div {
    padding: 10%;
    padding-top: 20%;
    position: relative;
    overflow: visible;
    margin-top: 15%;
}

.inner_content.slider_wrap > div {
    padding: 5%;
    padding-top: 20%;
}

.inner_content .inner_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.inner_content h3 {
    padding: 20px 8%;
    display: inline-block;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    font-size: 26px;
    position: relative;
    z-index: 1;
    font-family: 'GmarketSansMedium';
    word-break: keep-all;
}

.inner_content h3.green {
    background-color: #21C2D6;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.inner_content h3.purple {
    background-color: #8167C7;
    color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.button_list {
    font-size: 0;
}

.button_list li {
    display: inline-block;
    width: 49%;
    background-color: #00A5B9;
    border: 1px solid #00A5B9;
    box-sizing: border-box;
    border-radius: 20px;
    height: 120px;
    vertical-align: top;
    padding-bottom: 10px;
}

.button_list li + li {
    margin-left: 2%;
}

.button_list li:nth-child(2n+1) {
    margin-left: 0;
}

.button_list li:nth-child(n+3) {
    margin-top: 4%;
}

.button_list li button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    word-break: keep-all;
    font-size: 16px;
    line-height: 22px;
    background-color: #fff;
    border-radius: 20px;
    font-family: 'GmarketSansMedium';
}

.more {
    text-align: center;
    margin: 5% 0;
}

.more button {
    border: none;
    background-color: transparent;
    padding: 14px 12%;
    display: inline-block;
    border-radius: 50px;
    font-size: 24px;
    position: relative;
    z-index: 1;
    font-family: 'GmarketSansMedium';
}

.more.purple button {
    background-color: #8167C7;
    color: #fff;
}

.more.green button {
    background-color: #00A5B9;
    color: #fff;
}

.custom_tab ul {
    font-size: 0;
}

.custom_tab ul li {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    background-color: #8167C7;
    border: 1px solid #8167C7;
    box-sizing: border-box;
    border-radius: 20px;
    height: 120px;
    vertical-align: top;
    padding-bottom: 10px;
}

.custom_tab ul li + li {
    margin-left: 2%;
}

.custom_tab ul li:last-child {
    margin-left: 0;
    margin-top: 4%;
    width: 100%;
    height: 90px;
}

.custom_tab ul li button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    word-break: keep-all;
    font-size: 18px;
    line-height: 22px;
    border-radius: 20px;
    font-family: 'GmarketSansMedium';
    background-color: #fff;
}

.custom_tab ul li button span {
    display: block;
    text-align: center;
    word-break: keep-all;
    line-height: 20px;
    margin-top: 5px;
}

.custom_tab ul li button.selected {
    background-color: #9B80E2;
    color: #fff;
}

.custom_tab ul li button.selected span {
    color: #fff;
}

.modal_slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
    align-items: center;
    display: none;
    -webkit-animation: showUp.2s ease-out forwards;
    animation: showUp.2s ease-out forwards;
}

.modal_slider.open {
    display: flex;
}

.modal_slider .inner_slider {
    background-color: #fff;
}