@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body {font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a{text-decoration: none;}
fieldset{border: 0;}

.container {width: 100%; height: auto;}
/*-------------------header-------------------*/
header {width: 100%; height : 140px; display: block; background: #ffffff;border-bottom: 1px solid #e8e8e8; position: fixed; top: 0; left: 0; transition: all .5s; z-index: 2; box-sizing: border-box; }
header>.topfixArea{width: 100%; height:40px;}
.top-wrap {float: right; }
ul.top-fix {font-size: 0.8em; padding-right: 24px;}
ul.top-fix > li {display: inline-block; margin-left: 16px;}
.head_logo {width: 100%; height: 40px; text-align: center;}
img#logo{width: 200px; height: 50px; margin-left: 144px;}

/*--------------------메뉴------------------*/
nav {text-align: center;}
nav > ul {text-align: center; margin-top: 16px; }
ul.nav-menu {padding: 0; padding-right: 24px;}
nav > ul > li { display: inline-block; font-size: 1em;}
nav > ul > li > a { text-align: center; display: inline-block; width: 100%; padding-left: 20px; padding-right: 20px; }
li.dropdown_btn {display: inline-block;margin: 10px; color: #333333; position: relative; cursor: default; z-index: 500;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
} 
ul.nav-menu >li:hover >a {font-weight: 700;}
/*---------------메뉴드롭다운------------------*/
li.dropdown_btn>.m-brandcontainer {position: absolute; width:880px; top: 32px; ;opacity: 0; visibility: hidden; overflow: hidden; background: #ffffff; border-radius: 0 0 3px 3px; display: block; text-align: center; margin: auto;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
    border: 1px solid #707070;
}
ul.nav-menu>li.dropdown_btn:hover > .m-brandcontainer {opacity: 1; visibility:visible; overflow:visible;}
.m-brandleft{display: inline-block;margin-top: 64px; margin-right: 32px;}
.m-brandleft > h3 {font-size: 1.125em;}
.m-brandright{display: inline-block;width: 600px;vertical-align: top;padding: 16px; border-left: 1px solid #e8e8e8;}
.m-brandright > ul.m-b-best4 {display: inline-block; text-align: center;}
.m-brandright > ul.m-b-best4 >li{display: inline-block; font-size: 1.2em; font-weight: 700;margin: 24px;padding: 0;}
.m-brandright > ul.m-b-etc {display: inline-block;text-align: center; padding: 0;}
.m-brandright > ul.m-b-etc >li{display: inline-block; font-size: 1em; font-weight: 600;margin: 16px;}
span.b-etccontainer {border: 1px solid #707070;padding: 8px 16px; border-radius: 30px;}
span.b-etccontainer:hover {background: #e8e8e8;} 
/*************header*********/

/***************footer**************/
footer{width: 100%; height: 350px;}
footer .wrapper{ background-color: #333333; padding: 20px;}
footer .wrapper > a{ color : #ffffff; }
footer .wrapper > .company_in > span> a {display: inline-block;margin: 20px; color: #ffffff; }
footer .wrapper > .company_in2 > span> a { display: inline-block; margin: 20px; margin-top: 0px; color: #ffffff;     }
footer .wrapper > .companyInfo > p { color: #ffffff; }
