@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gothic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { width: 100%; font-family: 'Nunito sans', 'Nanum Gothic'; color: #333333; -webkit-text-size-adjust: 100%; margin: 0; overflow-x: hidden; min-width: 320px;}
ul li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:visited a:hover a:focus a:hover, a:active{text-decoration: none;}
fieldset{border: 0;}
textarea:focus{outline : none;}
button:focus{outline: none;}
input:focus{outline:none;}
table{border-collapse: collapse;}
.container {width: 100%; text-align: center;}

/*광고 슬라이드*/
#swiper-container{width: 100%; height: 500px; margin: auto; margin-top: 140px; overflow: hidden;}
#slide-wrapper {width:100%; height: 500px; }
#s-img{width : 100%; height: 500px;}



/*********검색창**********/
.searchbox {width: 100%; height: 120px; margin-top: 40px;}
#search_b fieldset{
    width: 100%; 
    text-align:center; 
    border:  none;
    padding: 25px;
    margin: 15px;
}
#search_b fieldset label input{
    margin: auto 0;
    vertical-align: middle;
    width: 800px;
    height: 64px;
    border: 4px solid #e8e8e8;
    border-radius: 24px;
    padding: 24px;
    outline: none;
    display: inline-block;
    margin-bottom: 32px;
}
#search_b fieldset label ::placeholder{
    font-size: 1.5em;
}
button#search-btn {border: none; display: inline-block;}
#s-btnimg{width: 50px; height: 50px;display: inline-block;}
/*********BEST ITEM**********/
.b_itemname {
    font-size: 2em;
    font-style: 800;
    text-align: center;
}

.b_itembox{
    width: 290px;
    height: 376px;
    background: #ffffff;
    border: #333333 solid 1px;
    margin: 12px;
}
img  {
    width: 250px;
    height: 144px;
}

/*new item*/
.nitem-container {width: 1260px; height: 800px;margin: auto;}
h3.nitem-name {font-size : 1.6em; text-align: center; margin-bottom: 40px;}
.nitem-wrapper1 {width: 1260px; height: 400px; }
.nitem-wrapper2 {width: 1260px; height: 400px; }
.nitem-wrapper1 > .n_itembox{ display: inline-block; width: 280px; height: 370px; background: #ffffff; border: #e8e8e8 solid 2px; margin: 13px; }
.nitem-wrapper2 > .n_itembox{ display: inline-block; width: 280px; height: 370px; background: #ffffff; border: #e8e8e8 solid 2px;margin-top: 16px; margin: 13px; }
.n_itemimage {width: 270px; height: 250px; margin : 10px;text-align: center;}
.n_itemimage img {width: 270px; height: 180px; text-align: center; margin-top: 30px;}
.n_iteminfo{margin-left: 4px;}
.n_name {font-size: 1em; line-height: 22px; letter-spacing: 0.16px; font-weight: 700; margin-top: 10px; margin-left: 6px;}
.n_lowest {font-size: 0.75em; color: #707070; text-align: left; line-height: 22px; letter-spacing: 0.30px; margin-top: 8px;margin-left: 6px;border-bottom-width: 4px;
    padding-bottom: 2px;}
.n_lowestnum {margin-left:6px; font-size: 1em; line-height: 19px; letter-spacing: 0.35px;}
span.n_lowestwon {margin-left:6px;font-size: 0.95em; color: #707070;}
span.n_count {margin-left: 100px; font-size: 0.75em; font-weight: 600; color: #006CFF;}

/*****************banner******************/
.banner {width: 100%; height: 240px; text-align: center;margin-top: 80px; margin-bottom: 80px;}
img.ban_img {width: 1200px; height: 240px; margin-top: 40px; margin-bottom: 40px;}

/***********************FLEX-item**********************/
.f-item {width: 1260px; height: 800px;margin: auto;}
h3.f-itemtitle {font-size: 1.6em; text-align: center;}
.f-itemwrapper {width:1260px;}
.f-item1 {width: 480px; height: 450px; background: #ffffff; display: inline-block;  margin-right: 30px;}
.f-item1img {width: 600px; height: 550px;display: inline-block;}
#f-1img {width: 620px; height: 550px; text-align: center; display: inline-block; }
.f-item1-2{width: 620px; height: 112px; background:  #033333; display: inline-block;}
.f-item1-2>p{margin: 0; color: #ffffff; font-size: 1.25em;letter-spacing: 0.18px; padding: 16px; text-align: left;}
.f-item1-2 > #f-item1-2info {float: right; font-size: 1em; color: #ffcc33;}
.f-itemsum {width: 640px; height: 500px; display: inline-block; }
table.f-itemsumtb {display : inline-block; width: 500px; height: 500px; border-collapse: collapse; margin-left: 120px;}
td.f-item2 > img#f-2img {width: 580px; height: 250px;}
.f-item2-2 {background: border: 1px solid #e8e8e8;}
.f-item2-2 >p {padding: 4px;}
.


/***********************auction**********************/

.a-item {text-align: center; margin-top: 96px; }
.a_title {font-size: 1.6em; margin-bottom: 56px; text-align: center;}
.a_itemwrapper {margin: auto; width: 1260px; }
.a_itembox {width: 600px; height: 376px; padding: 8px; display: inline-block; margin-bottom: 20px;}
table.a-content {width: 610px;height: 360px;padding: 4px;border: 4px solid #e8e8e8; }
td.a-subtitle {text-align: center; font-weight: 600;padding-bottom: 8px;  border-bottom: 2px solid #e8e8e8; }
.a-name{margin: 4px;}
.a-name > p {margin: 0; text-align: center;font-size: 1.125em;}
#a-joinnow {float: right; font-size: 0.7em; color: #707070;}
td.a-img {width: 280px; height: 306px;}
.a-itemimg{width: 270px; height: 280px; border: 1px solid #e8e8e8; margin-top: 6px; margin-left: 6px;}
.a-itemimg > img.a-img {margin-top: 72px;}
td.a_con1 {font-size: 0.75em; width: 64px;padding-left: 8px;}
td.a_con2{text-align: right;padding-right: 8px;}
#a_time {margin: 0; margin-bottom:4px; font-size: 1.125em;}
#a_fintime {margin:0; font-size: 0.8em; color: #393939;}
span.a_con2cost {font-size : 1.125em; font-weight: 600; }
td.a_btn {padding: 0; text-align: center;}
button.a_join {width: 270px; height: 48px; background-color: #333333; color: #ffffff; margin: 0; font-size: 0.9em; letter-spacing: 0.50px;}

/*******release calender*******/
.re_calender {margin-top: 80px; }
h3.re_title {text-align: center; font-size: 1.6em; margin-bottom: 40px;}
table.re_cal {margin:auto;width: 1260px; border: 1px solid #e8e8e8;}
td.re_box {padding: 12px; padding-top: 0; border: 1px solid #e8e8e8;}
p.re_date {font-size: 1em; text-align: right;letter-spacing: 0.4px; font-weight: 700;}
img.re_img {width: 250px; height: 144px; }
.re_img {text-align: center; margin: 8px;}
p.re_name{margin: 0; font-size: 1em;}
p.re_info1{margin: 0; margin-top: 8px; font-size: 0.8em; color: #707070;}
span.re_info2 {margin-left: 4px; font-size: 1.25em; color: #333333; font-weight: 700;}
span.re_won{font-size: 0.8em; color: #707070; font-weight: 500; margin-left: 4px;}

/*******wanted ranking*******/
.w_rank {margin-top: 80px; margin-bottom: 80px; }
.w_ranktitle {text-align: center; margin-bottom: 40px ;}
h3.w_rankname {font-size: 1.6em; text-align: center; margin-bottom: 0;}
.w_ranktitle > span {font-size: 1em;}
.w-rankwrapper {text-align: center;}
.w_rankcontent {display: inline-block; text-align: centers; margin: 0 auto;}
table.w_ranktb {width: 620px; height: 467px; border: 1px solid #e8e8e8; margin: 10px;}
td.w_ranknum {width: 40px; text-align: center; border: 1px solid #e8e8e8;}
td.w_img{border: 1px solid #e8e8e8;}
td.w_img > img {width: 101px; height: 72px;padding: 8px; }
td.w_rankinfo {width: 487px; font-size: 1em; padding-left: 40px; border: 1px solid #e8e8e8; text-align: left;}
p.w_num {text-align: left;margin: 8px;}
img.w_wanted {height: 22px; width: 20px;}
