@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a:focus {text-decoration: none;}
fieldset{border: 0;}
textarea:focus{outline : none;}
button:focus{outline: none;}
input:focus{outline:none;}
table{margin: 0;}
.container {
    display: grid;   
    grid-template-columns:1280px;
    grid-template-rows: 160px   1fr 350px; 
    margin: 0 auto;
    height: 100%;
    grid-gap : 20px;
    grid-template-areas:
    "header "
    "main";
    }

    /*상품 페이지*/
    .itm-container {
        display: grid;
        grid-area: main;
        grid-template-columns: 640px 640px;
        grid-template-rows: 2fr 1fr 500px ;
        grid-column-gap: 30px;
        grid-row-gap: 80px;
        margin-top: 32px;
        grid-template-areas: 
        "img info"
        "detail detail"
        "gr gr"
        "rec rec"
        ;
    }

    /*상품 이미지*/
    .itm-img { display: grid; grid-area:img; width: 100%; height: 100%;}
    .itm-simg {display: block;width: 502px; height: 319px;margin-left: auto; margin-right: auto; margin-top: 80px;}

    /*상품 정보 + 버튼*/
    .itm-container>.itm-info {display: grid; grid-area: info; width: 100%; height: auto;}
    table.infogroup {width: 100%; padding: 8px;}
    /* td{width: 50%;} */
    /* th{height: auto;} */
    table.infogroup > td {width: 50% 50%;}
    #itm-infoname{width: 340px; font-size: 1.5em ; border-bottom: 1px solid #e8e8e8;}
    #itm-infoname-n {text-align: right;border-bottom: 1px solid #e8e8e8;}
    p.itm-infoname2 {margin: 2px;}
    img.itm-bt{margin: 8px;}

    /*BUY + SELL*/
    .itm-btngroup{padding: 30px; }
    button.itm-sell {width: 260px; height: 64px; background-color: #333333; color: #ffffff; border-radius: 34px;font-size: 20px; letter-spacing: 2px}
    button.itm-buy{width: 260px; height: 64px; background-color: #ffcc33; color: #333333;border-radius: 34px; font-size: 20px; letter-spacing: 2px;}

     /*이용방법*/
     .itm-howto{width : 500px; font-size: 1.125em; font-weight: 700;width: 500px; color: #333333; border-bottom: 1px solid #e8e8e8;}
    #click {color: #ffcc33;}
    #itm-howto2{font-weight: 500; font-size:0.8em;}

    /*거래내역*/
    p.itm-dealtitle {font-size: 1.125em; font-weight: 600; color: #333333;}
    #itm-dealnum {margin: 4px; font-size: 1.2em;}
    td.itm-dealhigh {text-align: center;  padding-top: 8px; padding-bottom: 16px;}
    td.itm-deallow{text-align: center;padding-top: 8px; padding-bottom: 16px; } 
    #itm-con {color:#006cff; font-weight: 600;}

    /*거래표*/
    .itm-dealtb{width:100%; height: auto; border: 1px solid #e8e8e8; border-radius: 0 0 16px 16px;}
    .itm-dealtb td{width: 150px ; text-align: center; font-size: 0.75em; padding: 8px;}
    caption{text-align: center; border: 1px solid #e8e8e8; border-bottom: none; padding: 16px; vertical-align: center; border-radius: 16px 16px 0 0;}
    select{-webkit-appearance: none; width: 160px; padding: 4px; font-family: inherit; background-color: #ffffff; border: 1px solid #e8e8e8; border-radius: 0px; margin-right: 16px; margin-left: 8px; padding-left:4px url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;}
    #itm-dealco{margin-left: 24px;}
    thead {text-align: center; font-size: 0.8em; }
    
    
    /*상품 설명 INFORNAMTION*/
     .itm-detail{display: grid; grid-area: detail; grid-column: 1/3; text-align: center;}
     .itm-detail > h4 {text-align: center; font-size: 1.5em; margin: 0;} 
    .itm-detailtb {width:100%; height: auto; border: 1px solid #e8e8e8; padding: 32px;}
    #itm-detail1{ width: 150px; padding: 8px; font-weight: 700;}
    #itm-detail2{width: 250px; padding: 8px;}
    #itm-detail3 {width: 900px; text-align: center;margin-top:30px;line-height: 27px;vertical-align: middle;padding-top: 40px;}

    /*거래가 그래프*/
    .itm-dealgr{display: grid; grid-area: gr; grid-column: 1/3;text-align: center; }
    #itm-dealgrname {font-size : 1.5em; text-align: center;}
    .curve_chart {margin: 0 auto; }
    
    /*추천 상품*/
    .itm-rec {display: grid; grid-area: rec; grid-column: 1/3; margin-bottom: 40px;}
    .itm-recbox {display: inline-block; margin: 24px;}
    .itm-recbox > p {margin: 0px; text-align: center;}
    .itm-rec > h4 {font-size: 1.2em; text-align: left; margin-bottom: 24px;} 
    .itm-rec2 {margin: auto;}
    img.recimg {width: 264px; height: 158px; margin-bottom:16px;}