@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a{text-decoration: none;}
fieldset{border: 0;}
.container {
    display: grid;   
    grid-template-columns:1280px;
    grid-template-rows: 160px  1000px; 
    margin: 0 auto;
    height: 100%;
    grid-gap : 20px;
    grid-template-areas:
    "header"
    "main";
    }
     /*결제완료(주문 내역)*/
     .payFinish {
        display: grid;
        grid-area : main;
        grid-template-columns: 50% 50%;
        grid-template-rows : 125px 125px 300px 300px;
        grid-gap: 16px;
        grid-column-gap:60px;
        grid-template-areas: 
        "subtitle subtitle"
        "paynotice paynotice"
        "payorder bill"
        "delivery bill"
        ;}
       /* sub title + 상단 알림 문구*/
       .pay-name1{display: grid; grid-area: subtitle; grid-column: 1/3;}
       .pay-name{width: 1280px; height: 80px; border-bottom: 1px solid #707070;}
       .pay-name>h2{font-size: 1.5em; text-align: center; vertical-align: center;}
       .pay-name2{display : grid; grid-area : paynotice; width: 1260px;height: 125px;background-color: #333333; color: #ffffff; }
       .pay-namewrap {margin-left: 40px; display: inline-block;}
       .pay-name2 > .pay-namewrap >.pay-namefin {font-size: 1.25em;letter-spacing: 1px;font-weight: 100;}
       .pay-name2 > .pay-namewrap > .paynamefin2{font-size : 1.125em; margin-top: 8px;}

        /*주문내역*/
        .pay-order {display: grid; grid-area : payorder; }
        p.pay-ordername {font-size: 1.25em; font-weight: bold; letter-spacing: normal; text-align: left;}
        .pay-ordertb{width : 400px; height: 180px;}
        .pay-orderlist{display : inline-block;width: 650px; height: 210px;border: 1px solid #707070;}
        #pay-shoeimg {width: 125.3px; height: 80px; margin-left: 30px; margin-top: 70px; display: inline-block; position: absolute; }
        .pay-orderinfo{display: inline-block; text-align: justify; position: absolute; margin-left : 240px; margin-top: 16px;} 
        p.pay-itemname {margin:0;}

        /*배송지*/
        .delivery {display: grid; grid-area: delivery;}
        p.deliverytitle {font-size: 1.25em; font-weight: bold;  text-align: left; margin-bottom: 0;}
        .delivery-border {display : inline-block;width: 650px; height: 192px;border: 1px solid #707070;} 
        .delivery-info {margin-left: 30px; margin-top:8px;}
        .delivery-info > p.address1 {margin-bottom: 0px;}

        /*계산서*/
        .bill {display : grid; grid-area : bill; grid-row : 3/5; width: 540px; height: 587px; border: 1px solid #707070; display: inline-block; margin-top: 24px;}
        .bill-tb{display: inline-block; text-align: center;}
        .billtable {border-collapse: collapse; width : 500px; height: 560px; margin-left: 20px;margin-top: 10px;}
        tr.bill-line {border-top:1px solid#707070;}