@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a:focus {text-decoration: none;}
fieldset{border: 0;}
textarea:focus{outline : none;}
button:focus{outline: none;}
input:focus{outline:none;}
table{margin: 0;}
.container {width: 100%;}

    /*상품 페이지*/
    .itm-container { width: 1280px; height: auto; margin: 0 auto;}
    .itm-imginfo-container {width: 100%; height:auto; display: inline-block; margin-top: 150px; margin-bottom: 80px;}

    /*상품 이미지*/
    .itm-img { width: 40%;  display: inline-block; margin: 16px;}
    img.itm-simg {width: 500px; height: 317px;margin:0 auto; top: 10%; margin-bottom: 240px;}

    /*상품 정보 + 버튼*/
    .itm-info {width: 50%; height: auto; display: inline-block; margin-left: 40px;}
    table.infogroup {display : inline-block; width: 50%; border-collapse: collapse; }
    table.infogroup > td {width: 50% 50%;}
    #itm-infoname{width:50%; font-size: 1.5em ; border-bottom: 1px solid #e8e8e8;}
    #itm-infoname-n {text-align: right; border-bottom: 1px solid #e8e8e8;display: inline-block;}
    p.itm-infoname2 {margin: 2px;}
    img.itm-bt{margin: 8px;}

    /*거래내역*/
    p.itm-dealtitle {font-size: 1.125em; font-weight: 600; color: #333333;}
    #itm-dealnum {margin: 4px; font-size: 1.2em;}
    td.itm-dealhigh {text-align: center;  padding-top: 16px; padding-bottom: 16px;}
    td.itm-deallow{text-align: center;padding-top: 16px; padding-bottom: 16px; } 
    #itm-con {color:#006cff; font-weight: 600;}

    /*사이즈박스*/
    .itm-size {width: 100%; height: auto; display: inline-block;}
    .itm-sizecontainer {width: 90%; display: inline-block; border: 5px solid #ffcc33; padding: 4px; padding-bottom: 12px; margin-left:28px}
    #itm-sizetitle {font-size : 1.5em; color: #006cff; font-weight: 600; margin-left: 32px; margin-top: 12px; margin-bottom: 12px;}
    #itm-size-subtitle{font-size: 0.6em; color: #707070;}
    .itm-sizebox {width: 130px; height: 90px; display: inline-block; border: 1px solid #e8e8e8; text-align: center; margin: 4px;}
    p.itm-sbsize {font-size: 1.05em; color: #707070; opacity : 60%; font-weight: 600; margin-top: 10px;}
    p.itm-sbprice {font-size: 1.2em; color: #707070; margin-top: 8px;}







    /*상품 설명 INFORNAMTION*/
     .itm-detail{text-align: center;}
     .itm-detail > h4 {text-align: center; font-size: 1.5em; margin: 0;} 
    table.itm-detailtb {width:1200px; height: auto; border: 1px solid #e8e8e8; padding: 32px;}
    #itm-detail1{ width: 150px; padding: 8px; font-weight: 700;}
    #itm-detail2{width: 250px; padding: 8px;}
    #itm-detail3 {width: 900px; text-align: center;margin-top:30px;line-height: 27px;vertical-align: middle;padding-top: 40px;}

    /*거래가 그래프*/
    .itm-dealgr{text-align: center; }
    #itm-dealgrname {font-size : 1.5em; text-align: center;}
    .curve_chart {margin: 0 auto; }
    
    /*추천 상품*/
    .itm-rec {margin-bottom: 40px;}
    .itm-recbox {display: inline-block; margin: 24px;}
    .itm-recbox > p {margin: 0px; text-align: center;}
    .itm-rec > h4 {font-size: 1.2em; text-align: left; margin-bottom: 24px;} 
    .itm-rec2 {margin: auto;}
    img.recimg {width: 264px; height: 158px; margin-bottom:16px;}