body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'NanumGothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a:focus {text-decoration: none;}
fieldset{border: 0;}
textarea:focus{outline : none;}
button:focus{outline: none;}
input:focus{outline:none;}

/**********회원가입**********/
.join-container {width: 1280px; margin: auto;}
.joinbox{margin-top: 180px; text-align: center;}
.join-title{width: 1280px; height: 56px; border-bottom: 1px solid #e8e8e8;} 
.row{text-align: center;}
.inputGroup{margin: auto -0; margin-top: 24px;}
.inputGroup > .join-input {width: 550px; height: 32px;padding:4px; padding-left:8px; font-size:  0.9em; color: #333333;}
.j-phonebtn {width: 568px; height: 48px; margin-top: 24px; background: #707070; color: #ffffff; font-size: 1em; letter-spacing: 1px; font-weight: 500;}
.row_group {width: 600px; height: 48px; margin: auto;}
.j-check1 {margin-top: 24px; font-size: 0.8em; color:#707070; text-align: justify;}
.j-check2 { margin-top: 8px; font-size: 0.8em; color:#707070; text-align: justify;}
.join-btn{width: 568px; height: 48px; margin-top: 24px; background: #333333; color: #ffffff; font-size: 1em; letter-spacing: 1px; font-weight: 500;}