@charset "utf-8";

/*로그인*/
body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a:focus {text-decoration: none;}
fieldset{border: 0;}
textarea:focus{outline : none;}
button:focus{outline: none;}
input:focus{outline:none;}

.container {
    display: grid;   
    grid-template-columns: 1280px;
    grid-template-rows: 160px 630px;
    margin: 0 auto;
    height: 100%;
    grid-gap : 20px;
    grid-template-areas:
    "header"
    "main";
    }

.logincontainer {display: grid; grid-area: main; }
.loginbox{width : 840px; height: 500px; position: relative; margin: 0 auto; border: 1px solid #e8e8e8; margin-top: 360px;}
.loginbox h3 {text-align: center; font-size: 1.4em; margin-top: 40px;}
.row {text-align: center;}
.inputGroup{margin: 0 auto; margin-top: 24px;}
.inputGroup > .inputMax {width: 560px; height: 48px; text-align: center; font-size: 1em; margin-top: 20px;}
.inputGroup > .inputMax2 {width: 560px; height: 48px; text-align: center; font-size: 1em; }
.loginUG{font-size: 1em;margin-right: 440px; margin-top: 16px;display: inline-block;}
.row_group{font-size: 0.875em; color: #333333;display: inline-block;}
.row_group_2 button {width: 560px; height: 56px;text-align: center;margin-top: 16px;font-size: 1.25em;display: inline-block;background: #333333;color: #ffffff; letter-spacing: 4px;}
.row_group_3 button {width: 560px; height: 56px;text-align: center; margin-top: 24px;font-size: 1.25em;letter-spacing: 4px;display: inline-block;background: #ffffff; color: #333333; border: 1px solid #333333;}