@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { margin: 0 auto; width: 1280px; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a{text-decoration: none;}
fieldset{border: 0;}
.container { width: 100%}

 /*주문결제*/
 .r-cal{width: 1280px; margin-top: 180px; text-align: center; height: auto;margin-bottom: 100px; }

/* r-caltitle */ 
 .r-caltitle {width: 100%; height:72px; text-align: center; border-bottom: 1px solid #e8e8e8;}
 #r-calp {font-weight: 700;margin-right: 40px; padding-top: 16px;}

 /*filter*/
.r-calfilter {width: 1260px; padding: 16px;height: auto; text-align: right;}
.r-calwrapper{width: 1260px; height: auto; margin: auto;}
.r-calbox {display: inline-block; width: 280px; height: 370px; background: #ffffff;border: #e8e8e8 solid 2px;margin-top: 16px; margin: 13px;text-align: justify;}
.r-calimg{width: 270px; height: 250px; margin : 10px;text-align: center;}
.r-calimg>img {width: 270px; height: 180px; text-align: center; margin-top: 30px;}
.r-calinfo{margin-left: 4px;}
.r-name {font-size: 1em; line-height: 22px; letter-spacing: 0.16px; font-weight: 700; margin-top: 10px; margin-left: 6px;}
.r-pricetitle{font-size: 0.75em; color: #707070; text-align: left; line-height: 22px; letter-spacing: 0.30px; margin-top: 8px;margin-left: 6px;border-bottom-width: 4px;
    padding-bottom: 2px;}
.r-price1 {margin-left:6px; font-size: 1em; line-height: 19px; letter-spacing: 0.35px;}

 


