button{outline: none;}
/**************my-buy***************/
.my-buycontainer{display: inline-block; width: 1000px; height: 800px;}
.my-buy-title{display: inline-block; width: 1000px; border-bottom: 2px solid #e8e8e8;}
.my-buywrapper {width: 1000px; margin-left: 40px;padding-top: 16px; margin-top: 1px solid #e8e8e8; margin-bottom : 1px solid #e8e8e8; margin-left: 96px;}
.my-buy-btn {width: 1000px; height: auto;}
.my-buy-btnwrap{text-align: center; margin: 24px;}
button.buy-register-btn{width: 128px; height: 48px; background-color: #333333; color: #ffffff; border-radius: 30px; border:none; margin-left: 40px; margin-right: 40px; font-size: 0.8em;}
button.buy-deal-btn {width: 128px; height: 48px; background-color: #ffffff; color: #333333; border-radius: 30px; margin-left: 40px; margin-right: 40px;  font-size: 0.8em;}
button.buy-dealfin-btn{width: 128px; height: 48px; background-color: #ffffff; color: #333333; border-radius: 30px; margin-left: 40px; margin-right: 40px;  font-size: 0.8em;}

table.reg-tb{display: inline-block; text-align: center; width: 1000px; border-collapse: collapse;}
td.buy-regtd1 {font-size: 0.8em; font-weight: 600; padding: 12px;border-bottom: 2px solid #e8e8e8;}
td.buy-regtd2 {font-size: 0.8em; border-bottom: 2px solid #e8e8e8; padding: 10px;}
img.buy-reg-img{width: 127px; height: 80px;}
#buy-regtd3 {font-weight: 600; text-decoration: underline;}
.buy-del-btnwrapper {width: 1000px; height: auto;}
button.buy-del-btn {margin-left: 690px; height: 25px;width: 75px;}
