

/**************my-info***************/
.my-info-container {display: inline-block; width:1000px; height: 540px;}
.my-info-title{width: 1000px; border-bottom: 2px solid #e8e8e8; margin-left: 40px;padding-top: 16px;}
.my-info-wrap {width: 1000px;border-bottom: 3px solid #e8e8e8; border-top : 1px solid #e8e8e8; margin-left: 40px;}
table.my-info-tb{margin: auto; width: 900px; text-align: justify; margin: 0 auto ; margin-top: 20px;} 
td.my-info-td{color : #707070; font-size:1em;padding-top: 8px; padding-bottom: 8px; font-weight: 600;}
td.my-info-td2{padding-top: 8px; padding-bottom: 8px;}
span.my-infomore{font-size: 0.7em; margin-left: 180px;}
button.my-coupon{border: 1px solid #888888; width: 200px; height: 30px; background: #fff;}
.my-infoetc {margin-left: 780px; font-size: 0.8em;color: #707070;}
span.my-infobye {margin-left: 40px;}