@charset "utf-8";
@font-face {
    font-family: 'Nunito Sans' , 'Nanum Gotjic';
    src: url("../font/Nunito_Sans/NunitoSans-Regular.ttf") format('truetype') url("../font/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Light.ttf ")
    url("../font/Nunito_Sans/NunitoSans-ExtraBold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype") url("../font/Nunito_Sans/NunitoSans-Black.ttf") format("truetype");
    src: url("../font/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype") url("../font/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
}
body { margin: 0 auto; width: 100%; font-family: 'Nunito sans', 'Nanum Gothic';}
ul , li {list-style: none;}
a{text-decoration: none; color: #333333;}
a:link , a:visited , a:hover, a:active, a{text-decoration: none;}
fieldset{border: 0;}

/**************my-header***************/
.my-container{width: 100%;}
.my-wrap{width:1280px; margin: auto;}
.my-top{margin-top: 140px; width: 100%; height: 250px; background-color: #ffcc33;  display: inline-block; transition: all .5s; z-index: 2; box-sizing: border-box; }
.my-topleft{display: inline-block;  margin-top:72px;}
.my-topleft > .my-userimg{width: 100px; height: 100px;display: inline-block;}
.my-userimg > img {width: 100px; height: 100px; display: inline-block;margin-left: 16px; border: 4px solid #fff; border-radius: 60px;}
table.my-topleft-tb{display: inline-block; margin-left: 40px; margin-right: 510px;}
td.my-tltb-name {font-size: 1.3em;}
td.my-tltb-name > span {font-weight: 600;letter-spacing: 2px;}
td.my-tltb-email {font-size: 1em; font-weight: 600;}
td.my-tltb-a {font-size: 0.8em; color: #707070; }
.my-top-right {display: inline-block; margin-top: 100px;}
table.my-top-right-tb {display: inline-block; text-align: center;}
td.right-td1 {font-size: 1em; font-weight: 600;  padding-right: 16px; padding-left : 16px; padding-bottom: 0;}
 p.td-deal {margin: 0; font-size: 0.7em;}
 td.right-td2 {font-size: 0.9em; }
#td-dealnum1 {padding-top: 13px; font-weight: 600;}
#td-dealnum2 {padding-top: 13px;  font-weight: 600;}


/**************my-leftmenu***************/
.my-infobox {width: 1280px; margin: auto;}
.my-menu {font-weight: 700;margin-top: 80px; display: inline-block;  box-sizing: border-box; z-index: 2; border-right: 1px solid #e8e8e8;}
ul.my-menuul > li {margin: 32px;}