.HumanDev {
  .head-title {
    width: 200px;
    height: 81px;
    margin: 145px auto 0;
    background: url("../Images/인재개발.png") no-repeat;
  }

  .simple-line {
    width: 304px;
    margin: 0 auto 127px;
    border: 1px solid #00a5b9;
  }

  .vedio-tab-container {
    display: flex;
    width: 1278px;
    margin: 0 auto;
    cursor: pointer;

    .video-tab1 {
      &-normal {
        width: 637px;
        height: 135.32px;
        background: url("../Images/tab1.png");
      }

      &-color {
        width: 637px;
        height: 135.32px;
        background: url("../Images/tab1-color.png");
      }
    }

    .video-tab2 {
      &-normal {
        width: 637px;
        height: 135.32px;
        background: url("../Images/tab2.png");
      }

      &-color {
        width: 637px;
        height: 135.32px;
        background: url("../Images/tab2-color.png");
      }
    }
  }

  .main-content {
    width: 1277px;
    height: 3409px;
    margin: 0 auto;
    background: url("../Images/obj1.png") no-repeat;
  }
}
