
.FutureHire {
    height: 23949px;
    width: 1920px;
    margin-top: 87px;
    padding-top: 96px;
    background: url(/static/media/균형인사관.svg) no-repeat;
    background-color: #FFFFFF;
    object-fit: cover;
  
  }
  

  
  .FutureHire .header-title {
    width: 800px;
    padding-top: 93px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: "GmarketSansLight";
    font-size: 55px;
    font-weight: 300;
    color: white;
  }

  .FutureHire .main-video {
    width: 950px;
    height: 570px;
    background-color: black;
    margin: 55px auto 0;
  }

  .FutureHire .top-description {
    width: 800px;
    height: 189px;
    margin: 79px 310px 0 810px;
    background: url("../Images/공개경쟁채용시험이란.png") no-repeat;
  }

  .FutureHire .bottom-description {
    width: 800px;
    height: 257px;
    margin: 49px 310px 0 810px;
    background: url("../Images/경력경쟁채용시험이란.png") no-repeat;
  }


  ////////////////////////@at-root
