* {
    box-sizing: border-box;
}

html, body {
    min-width: 1500px;
    margin: 0;
    padding: 0;
}

.recruit-header-bg {
    background-image: url('../img/recruit_header_bg.png');
    background-size: cover;
    background-position: center;

    padding: 1px;

    height: 1125px;
    color: white;
}

.recruit-header-bg h1 {
    font-size: 55px;
    font-weight: 100;
    text-align: center;

    margin-top: 117px;
    margin-bottom: 66px;
}

.video-container {
    background: black;
    width: 1280px;
    height: 732px;
    margin: 0 auto;
}

.recruit-section-1 {
    padding: 175px 0 202px 0;
    text-align: center;
}

.recruit-section-1 h2 {
    font-size: 55px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 40px;
}

.recruit-section-1 .section-header-tagline {
    font-size: 20px;
    font-weight: 100;
    
    margin-bottom: 55px;
}

.recruit-section-1 .section-detail {
    padding-top: 135px;
}

.recruit-section-1 .section-items {
    width: 1295px;
    margin: -135px auto 0 auto;
}

.recruit-section-1 .section-items img {
    display: block;
    float: left;
}

.recruit-section-1 .section-items:after {
    clear: both;
}

.recruit-section-1 .section-items-bar {
    width: 1070px;
    height: 46px;
    background: #2D68B2;
    margin: 0 auto;
}

.recruit-section-1 .section-detail .section-item-detail {
    margin-top: 25px;
}


.recruit-section-2 {
    background: url('../img/recruit-section-2-bg.jpg');
    background-size: cover;
    background-position: center;

    height: 2481px;

    padding-top: 95px;
    padding-bottom: 178px;

    text-align: center;
}

.recruit-section-2 h2 {
    margin-top: 248px;
    margin-bottom: 90px;
}

.recruit-section-list-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.recruit-section-list-desc {
    margin-right: 158px;
}

.recruit-section-list {
    margin-top: -65px;
    margin-bottom: -30px;
}

.recruit-section-list:after {
    clear: both;
}

.recruit-section-list img {
    margin-right: -10px;
}

.recruit-section-3 {
    text-align: center;
    margin-top: -2px;
    padding-top: 89px;
    padding-bottom: 40px;
    background: linear-gradient(180deg, #3866C9 0%, #3E44D2 100%), #3866C9;
}

.recruit-section-3 h2 {
    margin-bottom: 96px;
}

.recruit-section-3 .section-tabs {
    width: 1280px;
    margin: 0 auto;
}

.recruit-section-3 .section-tabs:after {
    clear: both;
}

.recruit-section-3 .tabs-tab {
    border-radius: 20px 20px 0 0;
    background: white;
    border: 1px solid #3866C9;
    padding-top: 21px;
    padding-bottom: 16px;
    font-size: 28px;
    width: 20%;
    float: left;
}

.recruit-section-3 .tabs-tab.active {
    background: #d2e6ff;
}

.recruit-section-3 .section-tab-content {
    clear: both;
    color: white;
    width: 1280px;
    margin: 0 auto;
    text-align: left;
}

.recruit-section-3 .tab-content-item {
    border-bottom: 2px solid white;
}

.recruit-section-3 .tab-content-item .item-title {
    padding: 48px 26px;
    font-size: 30px;
}

.recruit-section-3 .tab-content-item .item-title-plus {
    font-size: 40px;
    float: right;
}

.recruit-section-3 .tab-content-item .item-content {
    font-size: 30px;
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.2s;
}
.recruit-section-3 .tab-content-item .item-content.active {
    max-height: 1000px!important;
}

.recruit-section-3 .tab-content-item .item-content img {
    margin-right: 57px;
    float: left;
    margin-bottom: 32px;
}
.recruit-section-3 .tab-content-item .item-content p {
    margin: 0;
    margin-bottom: 32px;
    overflow: hidden;
}

.recruit-section-4 {
    background: url('../img/recruit-section-4-bg.jpg');
    height: 1783px;
    padding-top: 131px;
}

.recruit-section-4 h2 {
    text-align: center;
    margin-top: 0;
}

.recruit-section-4 .section-tabs {
    text-align: center;
}

.recruit-section-4 .section-tabs button {
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    appearance: none;

    font-size: 30px;
    padding: 14px 70px;
    margin: 0 3px;

    border-radius: 35px;
    border: 2px solid #3866C9;

    color: #3866C9;
}

.recruit-section-4 .section-tabs button.active {
    border-radius: 35px;
    border: 2px solid #3866C9;
    background: #3866C9;
    color: white;
}

.recruit-section-4 .section-content {
    margin-top: 89px;
    padding-top: 35px;
    padding-left: 43px;

    background-image: url('../img/recruit-section-4-computer.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 884px;
}

.recruit-section-4 .section-content .video-container{ 
    margin: 0 auto;
    width: 950px;
    height: 570px;
}

.recruit-section-5 {
    padding: 109px 0 61px 0;

    background-image: url('../img/recruit-section-5-bg.jpg');
    background-position: cover;
    height: 1265px;

    text-align: center;
}

.recruit-section-5 .goto-quiz {
    display: inline-block;
    margin-top: 65px;
}